@import "functions";
@import "variables";

$mainColor: #43c3b3;

/*--- Only Safari ≥ 6.1 ---*/

// Dark magic, Don't touch
@function sf_func1($selector, $property) {
    @return '@media screen and(min-color-index:0)and(-webkit-min-device-pixel-ratio:0){@media{'+& $selector+'{'+$property;
}

@function sf_func2($value) {
    @return $value+'}}}';
}

@mixin only_safari($selector, $map) {
    @at-root {
        @each $property,
        $value in ($map) {
            .header_ben .item {
                min-width: 181px;
            }
        }
    }
}

h2.subTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.9rem;
}

img {
    max-width: 100%;
}

.btn-lg {
    height: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
	span {
		font-size: 13px;
	}
}

.btn-primary {
    color: #fff;
}

.btn-outline-secondary {
    &:hover {
        background-color: $mainColor;
        border-color: $mainColor;
        color: #fff;
    }
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    background-color: darken($mainColor, 15%);
    border-color: darken($mainColor, 15%);
    color: #fff;
}

.btn-semiBlank {
	background-color: transparent;
	border-color: transparent;
	&:not(:disabled):not(.disabled):active,
	&:hover {
		color: currentColor;
	}
	&:not(:disabled):not(.disabled):active:focus,
	&:focus,
	&.focus {
		box-shadow: none;
	}
}

.container img {
	max-width: 100%;
}

.main-svg-sprite {
	display: none;
}

use {
	fill: inherit;
	stroke: inherit;
}

.svg-icon__link {
	fill: none;
	stroke: #000;
}


.btn-outline-secondary {
    use {
        fill: black;
        stroke-width: 0;
        transition: fill 300ms;
    }
    &:hover use {
        fill: white;
    }
}

.textLg {
    font-size: 13px;
    font-weight: 500;
    color: #333;
}

.hidden {
    display: none;
}

.main_block {
    padding-top: 60px;
    padding-bottom: 60px;
    .breadcrumbs_wrap:not(.bg-grey) + & {
        padding-top: 0;
    }
}

.container-lg {
	max-width: 1920px;
	@media (min-width: 1200px) {
		padding-left: 90px;
		padding-right: 90px;
	}
}

.wide_white_block {
	background-color: white;
	padding: 40px 0 50px;
	margin-bottom: 50px;
}

.bg-white {
	background-color: white;
}

.bg-grey {
	background-color: #e8e8e8;
}

.bg-grey_light {
	background-color: #f5f5f5;
}


.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.stroke_grey {
    fill: #7d7e7e;
    fill-rule: evenodd;
}

.whiteBg,
.contentBlock {
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    .imgBlock {
        margin-bottom: 25px;
        font-size: 0;
        overflow: hidden;
        border-radius: 3px 3px 0 0;
        img {
			width: 100%;
			max-height: 440px;
			object-fit: cover;
        }
    }
}

.list-disk-blue,
.list-dash {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    li {
        padding-top: 1px;
        margin-bottom: 14px;
        padding-left: 25px;
    }
    &>li::before {
        display: inline-block;
        vertical-align: top;
        content: '';
    }
}

.list-disk-blue {
    &>li::before {
        display: inline-block;
        vertical-align: top;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin: 7px 21px 10px -25px;
        background-color: #0081ff;
    }
}

.list-dash {
    li {
        padding-left: 10px;
    }
    &>li::before {
        content: '—';
        margin: 0 4px 0 -10px;
    }
}

.color-white {
	color: white;
}

.btn {
    &-sm {
        min-width: 158px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 14px;
    }
	&-white {
		border-color: white;
		color: white;
	}
    &-primary {
        path {
            fill: #fff;
        }
    }
    &-outline-secondary {
        border-color: rgba(32, 29, 31, .2);
        border-width: 1px;
        color: #111;
        &-nl {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(204, 204, 204);
            border-radius: 6px;
            color: #333;
            background-color: #fff;
            path {
                fill: #333;
            }
        }
    }
    &-round {
        border-radius: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    // &-lg {
    // 	border-radius: 10px;
    // }
    &-lg.noRound {
        border-radius: 5px;
    }
    &-wide  {
    	min-width: 265px;
    }
    &-wide2 {
        min-width: 220px;
        height: 44px;
        line-height: 26px;
        @media (max-width: 1370px) {
            min-width: 100px;
            margin-bottom: 7px;
            margin-top: 7px;
        }
        @media (max-width: 576px) {
            min-width: 100%;
        }
    }
    &-wide3 {
        min-width: 170px;
        height: 44px;
        line-height: 26px;
    }
    &-share {
        height: 34px;
        span {
            display: inline-block;
            vertical-align: middle;
            font-family: sans-serif;
        }
        &::before {
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            margin-right: 12px;
        }
    }
    &-like {
        padding-top: 0.375rem;
        border: 2px solid #f2f2f2;
        &,
        &:hover {
            color: #363636;
            background-color: transparent;
        }
        &:hover {
        	border-color: #cac8c8;
        }
        &::before {
            content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAMAAABBwMRzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUAAAC7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNS7wNQAAADytF3iAAAAGnRSTlMAPYiPSwGBqgw67IuWWAPBD8AKvgmyBrGlaI7vzZUAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAXUlEQVQI11XN2xZAIBRF0YVc47gW+v8PpTTIetljPm0gywtVUqoiz7ir3F3d1H4qaF2oe6ZFuzRN/3PP8POAjAlHgWn+OPnDZY1cF0KbCTSRYHdPy5sc7hCS5Iy8AHOpDDi7KW2wAAAAAElFTkSuQmCC');
        }
    }
    &-twitter {
        background-color: #55acee;
        &,
        &:hover {
            color: white;
        }
        &::before {
            content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAMAAACKnBfWAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAApVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8AAAC4Q8VHAAAANXRSTlMABSONnlwBJBLKJSrx4r4hBu9gAprbHMTaf0g2Caf+GtLqLN60+zt0M5HY4FQHUIign4JEA2cqSkcAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAeElEQVQI10XO6xZCUBAF4J04IqQ6FKLSXdF13v/VOEPsf9+atWcGGIGjjXVDmBPAshWnDhG53gw+zRdLQJJKEAIronUUe+wE2KQZ9dk2zd3AfVNEfugt1WZx/PNk8uWz2/nSfoJrwLwJBVsWrPujm5bV8/X+fH+taig7FGnvlwZ4AAAAAElFTkSuQmCC');
        }
    }
    &-fb {
        background-color: #3b5998;
        &,
        &:hover {
            color: white;
        }
        &::before {
            content: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAQCAMAAAAYoR5yAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAVFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////8AAAAw4RqEAAAAGnRSTlMADjlABGv2EESin1AHwAzQiGARMNsJpWQkkG/UcTgAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAUElEQVQI153OSxKAIAwD0GL8oyLWD+b+B3XKoAcwm7xNOxGxuAqos5qWZGfqyZcDOXo/GWcS1gsQyDXGTZQl7uMucqie5KUpv73L2X8mwLY8ebsG1IlrQNMAAAAASUVORK5CYII=');
        }
    }
    &-outs {
		font-size: 13px;
		color: rgb(0, 129, 255);
		font-weight: bold;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(204, 204, 204);
		border-radius: 6px;
    }
	.icon_right {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
        font-size: 0 !important;
        line-height: 0 !important;
	}
    .icon_text {
        vertical-align: middle;
        display: inline-block;
    }

    &-text-sm {
        font-size: 13px;
    }
}

.topGutter {
	padding-top: 65px;
	@media (max-width: 991px) {
		padding-top: 35px;
	}
}

.bottomGutter {
	margin-bottom: 65px;
}

.border-secondary {
    border-color: #f2f2f2 !important;
}

// .post_banner {
//     margin-bottom: 60px;
// }

.iconized {
	display: inline-flex;
	align-items: center;
	color: currentColor;
	& + .iconized {
		margin-left: 20px;
	}
	.icon {
		margin-right: 10px;
		font-size: 0;
		line-height: 0;
		position: relative;
	}
	.iconized__text + .icon {
		margin-right: 0;
		margin-left: 10px;
	}
	.cartBadge {
		position: absolute;
		top: -5px;
		right: -10px;
		font-size: 11px;
		line-height: 11px;
		font-weight: bold;
		border-radius: 7px;
	}
}

// + header


.pageHeader {

    .logo {
        img {
            max-width: 100%;
        }
        @media (max-width: 992px) {
            &.head_nav__item {
                margin-left: auto;
                margin-right: auto;
                max-width: 140px;
                padding: 0 10px;
            }
        }
        @media (min-width: 480px) {
            // margin-right: 3rem;
        }
    }
}

.head_categories {
	padding-top: 25px;
	padding-bottom: 25px;
	@media (max-width: 767.99px) {
		display: none;
	}
}

.pageHeader {
	background-color: white;
	box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.08);
	.head_nav {
		// border-bottom: 1px solid #ccc;
		@media (max-width: 767.99px) {
			// margin-bottom: 1rem;
			& > .row {
				align-items: center;
			}
		}
		&__container {
			position: static !important;
			display: flex;
			align-items: center;
			@media (max-width: 767.99px) {
				flex-wrap: wrap;
			}
		}
		&__item {
			margin: 10px 3% 10px 0;
			&:last-child {
                margin-right: 0;
                width: 290px;
			}
			
			@media (max-width: 767.99px) {
				margin: 15px auto;
				&:first-child {
                    margin-left: 0;
                    margin-right: 0;
				}
            }
		}
		.header_nav_search {
			max-width: 490px;
            flex-grow: 1;
            margin-left: auto;
            margin-right: 0;
			@media (max-width: 767.99px) {
                width: 100%;
                margin-left: 0;
				order: 4;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                margin-left: auto;
            }
            .input-group {
                border: 1px solid #d2d2d2;
                border-radius: 2px;
            }
            .form-control {
                border: 0;
                font-size: 14px;
            }
            .icon {
                margin-right: 0;
            }
            .btn {
                width: 57px;
                justify-content: space-around;
            }
		}
	}

	.header_nav {
		@media (max-width: 767.99px) {
			order: 3;
		}
		&__favourites,
		&__lang {
			@media (max-width: 1200px) {
				.iconized__text {
					display: none;
				}
			}
		}

		@media (max-width: 992px) {
			.btn.iconized {
				padding: 0;
				background: none;
				border: none;
			}
		}

		&__signup,
		&__signin.btn {
            min-width: 120px;
            height: 50px;
            padding: 13px;
            font-size: 14px;
            color: #111111;
		}
		&__signin {
            border-color: #d2d2d2;
			@media (max-width: 767.99px) {
				display: none;
			}
		}
	}
	.siteNav {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin-left: 40px;
				&:first-child {
					margin-left: 0;
				}
				a {
					display: inline-block;
					padding-top: 17px;
					padding-bottom: 21px;
					color: #333;
					font-size: 13px;
					font-weight: 600;
					border-top: 2px solid transparent;
					&:hover {
						border-color: #0081ff;
						text-decoration: none;
					}
				}
			}
		}
	}

	.mainMenu {
		list-style: none;
		padding: 0;
		margin: 0;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		li {
			padding: 0 15px;
		}
		a {
			color: #111;
            font-size: 14px;
            font-weight: 600;
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}
	.locationBlock {

	}
	.userNav {

	}

	.locationBlock {
		font-size: 13px;
		font-weight: 600;
		color: #333;
		text-decoration: none;
	}
	.userNav {
		text-decoration: none;
	}

	.menuTrig {
		padding: 19px 0;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
        use {
            fill: #111;
            stroke-width: 0;
            transition: fill 300ms;
        }
		&:hover {
			color: $primary;
			use {
				fill: $primary;
			}
		}
		&:not(:disabled):not(.disabled):active:focus,
		&:focus,
		&.focus {
			box-shadow: none;
		}
		@media (max-width: 575.99px) {
			padding-left: 10px;
			padding-right: 10px;
			margin-left: auto;
			// svg {
			// 	display: none;
			// }
		}
		.bot_arr {
			transition: transform .3s;
		}

		.closeIcon {
			display: none;
		}
		&[aria-expanded="true"] {
			color: $primary;
			
			.closeIcon {
				display: inline;
			}
			.burgerIcon {
				display: none;
			}
			svg use {
				fill: $primary;
				stroke: $primary;
			}
			.bot_arr {
				transform: rotate(180deg);
			}
		}
	}
}

.site_nav {
	background-color: rgb(255, 255, 255);
	.form-inline {
		padding: 0;
		.form-control {
			border: none;
			outline: none !important;
			box-shadow: none;
		}
		.form-group {
			width: calc(100% - 50px);
		}
	}
	.dropdown-menu {
		left: unset;
		right: unset;
		border: none;
  		box-shadow: 0 10px 28.5px 1.5px rgba(0, 0, 0, 0.1);
  		padding-top: 40px;
  		padding-bottom: 60px;
		margin-top: 0;

		& .container {
			position: relative;
		}

		& > .container:before {
			// content: '';
			display: block;
			position: absolute;
			top: -47px;
			left: 265px;
			transform: rotate(45deg);
			width: 14px;
			height: 14px;

			background: white;
			border: 1px solid #ccc;
			border-bottom-color: transparent;
			border-right-color: transparent;
			border-radius: 2px;
		}
	}
	.dropM {
		top: initial;
        margin-top: 10px;
        margin-left: -30px;
        // overflow: hidden;
        border-top: 2px solid #49c4b5;
        min-width: 720px;
        &:before {
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid #49c4b5;
            position: absolute;
            top: -10px;
            left: 112px;
            background: white;
            transform: rotate(45deg);
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
		ul {
			margin-bottom: 30px;
		}
		li {
			margin-bottom: 10px;
			a {
				color: #363636;
			}
			li {
				margin-bottom: 10px;
				font-size: 13px;
				a {
					color: #666;
				}
			}
			&.mainLink {
				margin-bottom: 17px;
				font-weight: 600;
				a {
					color: #000;
				}
			}
		}
		.h2 {
			font-size: 14px;
			margin-bottom: 27px;
			font-weight: 600;
		}
	}
	.main_categories_wrap_left {
		padding-right: 20px;
	}
	.main_categories_wrap_right {
		display: none;
		position: absolute;
		top: 0;
		left: calc(100% - 10px);
		width: 410px;
		padding-left: 50px;
        li {
            padding: 0;
            a {
                font-size: 13px;
                font-weight: 400;
            }
        }
	}
	.main_categories {
		position: relative;
		&::after {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			bottom: -40px;
			left: calc(100% - 10px);
			margin-left: 20px;
			border-left: 1px solid #ccc;
		}
		& > li {
			margin-bottom: 0;
			.iconized {
				padding-left: 10px;
				padding-right: 10px;
				align-items: center;
				flex-wrap: nowrap;
				.icon_arrow {
					margin-left: auto;
					margin-right: 0;
				}

				.iconized_text {
					margin-left: 0;
					margin-right: auto;
				}
			}
			&.active {
				.main_categories_wrap_right {
					display: block;
				}
			}
			& > a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 10px 20px;
				font-size: 13px;
				border-radius: 3px;
				.icon_arrow use {
					stroke: $primary;
				}
				&:hover {
					text-decoration: none;
					color: $primary;
					use {
						stroke: $primary;
					}
				}
			}
		}
	}
}


// - header


// + breadcrumb

.breadcrumb {
	margin-bottom: 10px;
	color: #666;
    font-size: 12px;
    font-weight: 600;
	a,
	a:visited {
		color: #49c4b5;
	}
	&-item.active {
		color: #666;
	}
}

.breadcrumbs_wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    h1 {
        margin-bottom: 0;
    }
    .subCatsList {
        margin-top: 1.4em;
    }
}

// - breadcrumb


// + subCatsList

.subCatsList {
    font-size: 13px;
    font-weight: 600;
    li {
        margin-bottom: 3px;
    }
    a {
        color: #000;
        &.active,
        &:hover {
            color: #49c4b5;
        }
    }
}

// - subCatsList


// + main categories

.catsList {
    text-align: center;
    &__item {
        background-color: #fff;
        border-radius: 4px;
        padding: 40px 15px;
        margin-bottom: 24px;
    }
    &__icon {
        margin-bottom: 15px;
        height: 45px;
        use {
            stroke: #35bead;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
    }
    &__subList {
        height: 125px;
        margin-bottom: 10px;
        overflow: hidden;
        font-size: 13px;
        font-weight: 500;
        li {
            margin-bottom: 5px;
        }
        a {
            color: #111;
            &:hover {
                text-decoration: none;
                color: #2f75ec;
            }
        }
    }
    &__link {

    }
}

// - main categories



// + products list

.products_list {
    align-content: stretch;
	.card {
        // height: calc( 100% - 25px );
        border: none;

        margin-bottom: 25px;
        // min-height: 360px;
        
        color: #000;

        align-items: flex-start;
        align-content: start;
        flex-wrap: wrap;
        flex-direction: unset;

        &:hover {
            color: $primary;
            text-decoration: none;
        }
        & > * {
            width: 100%;
        }
        &-top {
			position: relative;
			height: 200px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #e8e8e8;
            overflow: hidden;
            border-radius: 4px;
			img {
                max-width: 100%;
                width: initial;
			}
        }
        &-footer,
		&-body {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
		}
		&-text {
			a {
				color: #000;
				&:hover {
					color: $primary;
					text-decoration: none;
				}
			}
        }

        &-title {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0;
            .subCat {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 2px;
            }
        }
        
        &-footer {
            border: none;
            background-color: transparent;
            font-weight: 500;
        }
			
	}
}

// - products list


.btn-link_item {
	font-size: 13px;
	font-weight: 600;
}

.simpText {
	padding-top: 125px;
	padding-bottom: 150px;
	&__head {
		font-size: 19px;
		font-weight: 700;
		margin-bottom: 25px;
	}
	&__body {
		font-size: 13px;
		line-height: 1.846;
	}
}

.footer {
    background-color: #333;
    padding-top: 45px;
    padding-bottom: 30px;
    color: #fff;

    a {
		color: currentColor;
	}

	.footNavEl {
		margin-bottom: 40px;
		&Head {
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 25px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding: 0;
				margin-bottom: 7px;
				font-size: 13px;
			}
		}
	}
}

.awesomeInput {
    position: relative;
    display: block;
    backface-visibility: hidden;
    min-width: 20px;
    vertical-align: top;
}

.awesomeInput-input:disabled~.awesomeInput-label {
    color: #6c757d
}

.awesomeInput-input[type=checkbox]+label:hover:after {
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,.08)
}

.awesomeInput-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem
}

.awesomeInput-inline .awesomeInput-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0
}

.awesomeInput-input.is-valid~.awesomeInput-label,
.was-validated .awesomeInput-input:valid~.awesomeInput-label {
    color: #28a745
}

.awesomeInput-input.is-invalid~.awesomeInput-label,
.was-validated .awesomeInput-input:invalid~.awesomeInput-label {
    color: #dc3545
}

.awesomeInput-input[type=radio]+label,
label.btn input[type=radio]+label {
    backface-visibility: hidden;
    padding-top: 3px
}

.awesomeInput-input[type=radio]+label:after,
.awesomeInput-input[type=radio]+label:before,
label.btn input[type=radio]+label:after,
label.btn input[type=radio]+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px 4px 4px 0;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    transition: transform .25s cubic-bezier(0,0,.2,.5);
    backface-visibility: hidden
}

.awesomeInput-input[type=radio]:not(:checked)+label:after,
.awesomeInput-input[type=radio]:not(:checked)+label:before,
label.btn input[type=radio]:not(:checked)+label:after,
label.btn input[type=radio]:not(:checked)+label:before {
    border-color: #d9d8d8;
}

.awesomeInput-input[type=radio]:not(:checked)+label:after,
label.btn input[type=radio]:not(:checked)+label:after {
    z-index: -1;
        
    transform: scale(0);
    backface-visibility: hidden
}

.awesomeInput-input[type=radio]:checked+label:before,
label.btn input[type=radio]:checked+label:before {
    border-color: transparent
}

.awesomeInput-input[type=radio]:checked+label:after,
label.btn input[type=radio]:checked+label:after {
    border-color: #fff;
	background-color: $primary;
	box-shadow: 0 0 1px 2px $primary;
    z-index: 0;
    backface-visibility: hidden
}

.awesomeInput-input[type=radio]:disabled+label,
label.btn input[type=radio]:disabled+label {
    color: rgba(0,0,0,.46)
}

.awesomeInput-input[type=radio]:disabled+label:before,
label.btn input[type=radio]:disabled+label:before {
    background-color: transparent;
    border-color: rgba(0,0,0,.46)
}

.awesomeInput-input[type=radio]:disabled:not(:checked)+label:before,
label.btn input[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0,0,0,.46)
}

.awesomeInput-input[type=radio]:disabled:checked+label:after,
label.btn input[type=radio]:disabled:checked+label:after {
    background-color: rgba(0,0,0,.46);
    border-color: #bdbdbd
}

.awesomeInput-input[type=radio].with-gap:checked+label:before,
label.btn input[type=radio].with-gap:checked+label:before {
    border-color: $primary
}

.awesomeInput-input[type=radio].with-gap:checked+label:after,
label.btn input[type=radio].with-gap:checked+label:after {
        
    transform: scale(.5);
    backface-visibility: hidden
}

.awesomeInput-input[type=radio].with-gap:checked:disabled+label:before,
label.btn input[type=radio].with-gap:checked:disabled+label:before {
    border-color: rgba(0,0,0,.46)
}

.awesomeInput-input[type=checkbox]+label:before,
label.btn input[type=checkbox]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    z-index: 0;
    border: 1px solid #d9d8d8;
    border-radius: 2px;
    margin-top: 4px;
    transition: .2s;
}

.awesomeInput-input[type=checkbox]:disabled:checked+label:before,
label.btn input[type=checkbox]:disabled:checked+label:before {
    border-color: transparent rgba(0,0,0,.46) rgba(0,0,0,.46) transparent
}

.awesomeInput-input[type=checkbox]:disabled:not(:checked)+label:before,
label.btn input[type=checkbox]:disabled:not(:checked)+label:before {
    border: 0;
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgba(0,0,0,.46)
}

.awesomeInput-input[type=checkbox],
.awesomeInput-input[type=radio],
label.btn input[type=checkbox],
label.btn input[type=radio] {
    position: absolute;
    left: -9999px;
    visibility: hidden
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.awesomeInput-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem
}

.awesomeInput-input[type=checkbox]+label,
.awesomeInput-input[type=radio]+label,
label.btn input[type=checkbox]+label,
label.btn input[type=radio]+label {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: inline-block;
    min-height: 1.57rem;
    line-height: 1.57rem;
	// font-size: 1rem;
	user-select: none;
}

.awesomeInput-label {
	margin-bottom: 0;
	font-size: 13px;
	color: rgb(32, 33, 36);	  
}

.awesomeInput-input[type=checkbox]:checked+label:before,
label.btn input[type=checkbox]:checked+label:before {
	background-color: $primary;
	border-color: $primary;
	background-image: url(../images/icons/check.svg);
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-position: 50% 50%;
    border-radius: 2px;
}

.sidebarNav__section.product_category__wrap {
	padding-top: 0;
}

@keyframes sonarWave_notice {
	0% {
	  transform: scale(1);
	}
	40% {
		transform: scale(1.2);
	}
	60% {
		transform: scale(1);
	}
	90% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
  }

.rate_block {
	.total_rews {
		display: inline-block;
		vertical-align: middle;
		margin-top: 2px;
	}
}

.reviewsSum__reviews_stars {
	display: inline-block;
	vertical-align: middle;
	width: 95px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTRweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgZmlsbD0iI2EwYTBhMCIgZD0iTTcuNTAwLDAuMDAwIEw1LjYyNSw1LjIwNiBMLTAuMDAwLDUuMzQ3IEw0LjQ2Niw4LjcwNiBMMi44NjUsMTQuMDAwIEw3LjUwMCwxMC44NjkgTDEyLjEzNSwxNC4wMDAgTDEwLjUzMyw4LjcwNiBMMTQuOTk5LDUuMzQ3IEw5LjM3NSw1LjIwNiBMNy41MDAsMC4wMDAgWiIvPjwvc3ZnPg==");
	background-size: auto 100%;
	background-repeat: repeat-x;
}
  
.reviewsSum__reviews_stars span {
	display: block;
	height: 14px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTRweCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiAgZmlsbD0iI2ZmOWE0MSIgZD0iTTcuNTAwLDAuMDAwIEw1LjYyNSw1LjIwNiBMLTAuMDAwLDUuMzQ3IEw0LjQ2Niw4LjcwNiBMMi44NjUsMTQuMDAwIEw3LjUwMCwxMC44NjkgTDEyLjEzNSwxNC4wMDAgTDEwLjUzMyw4LjcwNiBMMTQuOTk5LDUuMzQ3IEw5LjM3NSw1LjIwNiBMNy41MDAsMC4wMDAgWiIvPjwvc3ZnPg==");
	background-size: auto 100%;
	background-repeat: repeat-x;
}

.pagination {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 73px;
	margin-top: 73px;
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px;
	.page-item {
		margin-left: 13px;
		.page-link {
            width: 30px;
            height: 30px;
            line-height: 28px;
            @media (min-width: 576px) {
                width: 50px;
                height: 50px;
                line-height: 48px;
            }
			padding: 0;
			border-radius: 3px;
			font-size: 15px;
			color: #111;
			font-weight: 600;
			text-align: center;
			border: 1px solid #d2d2d2;
            transition: background .3s, color .3s;
            use {
                transition: stroke .3s;
            }
        }
        & .page-link.disabled {
            color: #d2d2d2;
            use {
                stroke: #d2d2d2;
            }
            &:hover {
                cursor: default;
            }
        }
		& .page-link:hover:not(.disabled),
		&.active .page-link {
            background-color: #49c4b5;
            border-color: #49c4b5;
			color: white !important;
			text-decoration: none;
		}

		&_next,
		&_previous {
			padding-top: 0;
			padding-bottom: 0;
			.page-link {
                width: 30px;
                height: 30px;
                line-height: 26px;
                @media (min-width: 576px) {
                    height: 50px;
                    line-height: 42px;
                    width: 130px;
                }
				border-color: #d2d2d2;
				border-style: solid;
				height: 100%;
                font-weight: 500;
                &:hover:not(.disabled) {
                    background-color: #49c4b5;
                    use {
                        stroke: white !important;
                        fill: white !important;
                    }
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                }
                .icon {
                    width: 25px;
                    @media (min-width: 576px) {
                        text-align: left;
                        margin-top: 3px;
                    }
                }
			}
		}


		&_next {
			margin-left: auto;
			.page-link {
				border-left-width: 1px;
                .icon {
                    @media (min-width: 576px) {
                        text-align: right;
                    }
                }
			}
			svg {
				transform: rotate(180deg);
			}
		}
		&_previous {
			margin-right: auto;
			margin-left: 0;
			.page-link {
				border-right-width: 1px;
			}
			& + .page-item {
				margin-left: 0;
			}
		}
	}
}






/**********************************

++ product page

**********************************/

.separated_border_horizontal {
	padding-top: 20px;
	padding-bottom: 20px;

	margin-top: 20px;
	margin-bottom: 20px;

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.versions_list {
    padding: 30px 40px;
    @media (max-width: 576px) {
        padding: 30px 20px;
    }
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    a {
        color: #111;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

    li {
        margin-bottom: 25px;
    }

    .btn-outline-secondary {
        background-color: #fff;
        text-decoration: none;
        &:hover {
            background-color: $mainColor;
            border-color: $mainColor;
            color: #fff;
        }
    }
    
    @media (max-width: 1366px) {
        ul {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            li {
                width: 50%;
                padding-right: 30px;
            }
        }
    }
    @media (max-width: 768px) {
        ul li {
            width: 100%;
            padding-right: 0;
        }
    }
}


.downloadButton {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    padding: 5px 15px;

    border: 1px solid #d2d2d2;
    background-color: #fff;

    border-radius: 3px;

    color: #111;
    
    transition: background 300ms, color 300ms, border 300ms;

    use {
        transition: fill 300ms, stroke 300ms;
    }
    &__subscript {
        transition: color 300ms;
    }

    &__subscript {
        margin-top: 7px;
        font-size: 12px;
        color: #666;
    }
    &__separator {
        padding-left: 13px;
        padding-right: 13px;
    }

    &__icon {
        font-size: 0;
        path,
        use {
            stroke-width: 0;
            fill: #666;
        }
    }

    &__decorIcon {
        font-size: 0;
        use {
            stroke: #000;
        }
    }

    &__item {
        padding: 15px;
        &:last-child {
            margin-left: auto;
        }
    }
    $parent_1: &;
    &:hover {
        border: 1px solid $mainColor;
        background-color: $mainColor;
    
        color: #fff;
        text-decoration: none;
        
        #{$parent_1}__subscript {
            color: #fff;
        }
    
        #{$parent_1}__icon {
            path,
            use {
                fill: #fff;
            }
        }
    
        #{$parent_1}__decorIcon {
            use {
                stroke: #fff;
            }
        }
    }
}

.productInfo {

    &__disclaimer {
        font-size: 12px;
        color: #666;
    }

	&_block {
		@media (min-width: 1200px) {
			padding-left: 50px;
		}
	}
	&.productColor,
	&.productSize {
		margin-bottom: 35px;
	}

	.productInfo__item {
		margin-bottom: 10px;
		font-size: 14px;
	}
	// .productInfo__label {

	// }
	.productInfo__text {
		@media (max-width: 460px) {
			width: 100%;
            padding-top: 10px;
		}
	}
    .productInfo__icon + .productInfo__text {
        @media (max-width: 460px) {
			width: calc(100% - 45px);
            padding-top: 0;
		}
    }

    .productInfo__item_level-2_wrap {
        @media (max-width: 460px) {
            width: 100%;
            margin-top: 10px;
        }
    }
    .productInfo__text a,
    .productInfo__link a {
		color: #111;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	$parent: &;
	&_flexed {
		#{$parent}__item {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			margin-bottom: 20px;

            flex-wrap: wrap;
            &_level-2 {
                margin-bottom: 20px;
            }
            small {
                color: #666;
            }
		}
		#{$parent}__align_center {
			align-items: center;
		}
		#{$parent}__label {
			min-width: 190px;
		}
		#{$parent}__icon {
            text-align: center;
			min-width: 21px;
			margin-right: 19px;
			// & + #{$parent}__icon {
			// }
		}
	}
}

.vendorBlock {
	&__header {
		margin-bottom: 12px;
	}
	&__header,
	&__content {
		background-color: #fff;
	}
	&__rightSide {
		@media (max-width: 767.5px) {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #ccc;
		}
	}
}

.productPrice {
	margin-top: 35px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	&__item + &__item {
		padding-right: 12px;
		@media (min-width: 576px) {
			margin-left: 12px;
		}
	}
	&__actualPrice {
		font-size: 30px;
		font-weight: 700;
		@media (max-width: 575.92px) {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	&__oldPrice {
		font-size: 18px;
		color: rgba(0, 0, 0, 0.502);
		text-decoration: line-through;
		line-height: 1.2;
	}
	.badge {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 12px;
		font-weight: 700;
		line-height: 22px;
	}
}

.productActions {
	margin-bottom: 35px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&__item {
		@media (max-width: 478px) {
			width: 100%;
			text-align: center;
		}
	}
	&__item + &__item {
		@media (min-width: 478px) {
			margin-left: 15px;
		}
	}
	.btn-addToCart {
		padding-top: 12px;
		padding-bottom: 12px;
		justify-content: center;
		font-size: 13px;
		min-width: 200px;
		color: #fff;
		text-transform: uppercase;
		@media (max-width: 478px) {
			width: 100%;
			margin-bottom: 30px;
		}
	}

	.btn {
		fill: transparent;
		stroke: currentColor;
	}

	.btn-transparent {
		background-color: transparent;
	}
}


.vendorBlock {
	&:not(.vendorBlock_high) {
		padding-bottom: 50px;
	}
	&_separated {
		margin-top: 40px;
	}
	&_white_background {
		background-color: #fff;
		box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.08);
	}
	&_high {
		position: relative;
	}
	&__header {
		align-items: center;
		background-color: #fff;
		margin-bottom: 0;
	}
	&__heading {
		padding-top: 20px;
		margin-bottom: 59px;
		font-size: 16px;
		color: black;
	}
	.ban_area {
		padding-top: 105px;
	}
	.nav-tabs {
		margin-bottom: 30px;
		border-bottom: 0;
	}
	.nav-item {
		@media screen and (max-width: 767.5px) {
			width: 33.3%;
			text-align: center;
		}
	}
	.nav-link {
		padding: 21px 8px 11px;
		@media (min-width: 992px) {
			height: 70px;
			padding: 21px 25px;
		}
		font-size: 14px;
		color: black;
	}
	&__content {
		margin-bottom: 35px;
		padding-top: 0;
		padding-bottom: 50px;
		border-bottom: 1px solid #ccc;
	}
}

.sellerInfo {
	position: relative;
	&::after {
		@media (min-width: 768px) {
			display: block;
			content: '';
		}
		position: absolute;
		right: 10px;
		top: -15px;
		bottom: -15px;
		border-right: 1px solid #ccc;
	}

	&__logo {
		margin-bottom: 20px;
	}
	&__name {
		font-size: 14px;
		font-weight: 600;
	}
	&__location {
		font-size: 13px;
		font-weight: 500;
		color: rgba(0, 0, 0, .7);
		margin-bottom: 30px;
	}
	&__brief {
		margin-top: 30px;
		margin-bottom: 30px;
		@media (max-width: 767.5px) and (min-width: 500px) {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
		}
	}
	&__brief__item {
		display: flex;
		align-items: stretch;
		margin-bottom: 30px;
		@media (max-width: 767.5px) and (min-width: 500px) {
			width: 47%;
			&:first-child,
			&:nth-child(2) {
				border-bottom: 1px solid #ccc;
				padding-bottom: 30px;

			}
			&:nth-child(2n + 2) {
				margin-left: 5%;
			}
		}
		.icon {
			width: 40px;
		}
	}
	&__brief__text {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.702);
		line-height: 1.2;
		max-width: 200px;
		a {
			color: currentColor;
			text-decoration: underline;
			&:hover {
				color: currentColor;
				text-decoration: none;
			}
		}
	}
}

.productDescription {
	max-width: 800px;
	&__heading {
		margin-bottom: 20px;
		font-size: 16px;
	}
	&__text {
		font-size: 14px;
		margin-bottom: 20px;
		line-height: 1.714;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0 0 20px;
	}
	&__list__item {
		margin-bottom: 17px;
		font-size: 14px;
		font-weight: 700;
	}
	&__list__item__label {
		font-weight: 500;
	}
}

.related_products {
	&__title {
		margin-bottom: 35px;
		font-size: 22px;
		line-height: 1.2;
	}
	&__listOverflow {
		overflow: hidden;
		.products_list {
			flex-wrap: nowrap;
		}
	}
	&__showMore {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.btn {
			color: currentColor;
			span {
				display: block;
				margin: 0 auto 15px;
				width: 50px;
				height: 50px;
				line-height: 62px;
				text-align: center;
				border-radius: 50%;
				background-color: #fff;
				box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.08);
				use {
					fill: transparent;
					stroke: black;
				}
			}
		}
	}
}

/**********************************

-- product page

**********************************/



.lureBlock {
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	border-radius: 10px;
	background-color: rgb(204, 220, 220);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	@media (max-width: 575.99px) {
		background-image: none !important;
	}
	@media (max-width: 991px) {
		margin-bottom: 30px;
	}
	min-height: 315px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
	padding: 45px 50px;
	&__buttons {
		width: 100%;
		margin-top: 0;
		margin-bottom: 18px;
		.btn-outline-secondary {
			border-color: rgba(0,0,0,.1);
			border-width: 1px;
			color: #333;
			@media (max-width: 480px) {
				margin-bottom: 7px;
			}
			&:hover {
				color: white;
			}
		}
	}

	&__title {
		width: 100%;
		font-size: 23px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: auto;
		@media (min-width: 576px) {
			padding-right: 50%;
		}
	}

	&__text {
		width: 100%;
		margin-top: auto;
		margin-bottom: auto;
		@media (min-width: 576px) {
			padding-right: 60%;
		}
	}

	&__moreButton {
		width: 100%;
		margin-top: auto;
		margin-bottom: 0;
		path {
			fill: #333;
		}
		a {
			color: #333;
		}
	}
}

.popupNavTrigger_parent {
	font-size: 0;
}

.popupNavTrigger {
	background: none;
	border: none;
	outline: none !important;
}

.popupNavTrigger .line{
  width: 31px;
  height: 1px;
  background-color: #262626;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popupNavTrigger:hover{
  cursor: pointer;
}

.popupNavTrigger.is-active .line:nth-child(2){
  opacity: 0;
}

.popupNavTrigger.is-active .line:nth-child(1){
  transform: translateY(9px) rotate(-45deg);
}

.popupNavTrigger.is-active .line:nth-child(3){
  transform: translateY(-9px) rotate(45deg);
}

.fixed {
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
}

.mPopupNav {
	transform: translateX(0);
	transition: background-color 0.3s;
	z-index: 1060 !important;
	background-color: rgba(0,0,0,0.1);
	overflow: hidden;
	a:not(.btn)  {
		color: #000;
	}
	.btn-lg {
		font-size: 13px;
	}
	
}

.mPopupNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mPopupNav.modal {
	top: 0;
	bottom: auto;
	height: 100vh;
	border-radius: 0;
	position: fixed;
}

.mPopupNav__dialog {
	width: 85%;
	max-width: 360px;
	height: 100vh;
	margin: 0;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateX(-100%);
	overflow: hidden;
}
._scrollable {
	overflow: hidden;
	height: 100vh;
}

.mPopupNav__inner {
	border-radius: 0;
	min-height: 100%;
	padding-top: 7%;
	padding-bottom: 7%;
	background: #fff;
}

.mPopupNav.show .popupNav__dialog {
	transform: translateX(0);
}

.mPopupNav__slogan {
	font-size: 13px;
	font-weight: 500;
}

.mPopupNav__link {
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 400;
}

.mPopupNav__icon {
	display: inline-block;
	width: 55px;
	padding-right: 25px;
	text-align: center;
	font-size: 0;
}

.mPopupNav__profileSettings {
	margin-top: 35px;
	margin-bottom: 25px;
	li {
		& + li {
			margin-top: 15px;
		}
	}
}

.mPopupNav__addTime {
	margin-top: 25px;
	margin-bottom: 55px;
	background-color: #ededed;
	padding: 15px;
	.h2 {
		font-size: 17px;
		font-weight: 600;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.show .fixedActive {
	position: relative;
}

.mPopupNav__menu {

}

.mPopupNav__menu .hasChild {
	position: relative;
}

.mPopupNav__menu .hasChild:after {
	content: '';
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-color: rgba(0,0,0,0.5);
	display: block;
	width: 14px;
	height: 14px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 23px;
	left: auto;
	transform: rotate(135deg);
}

.mPopupNav__menu a {
	display: flex;
	align-items: center;
	color: #000;
}

.mPopupNav__menu a:hover {
	opacity: 1;
	text-decoration: none;
}

.childItem {
	overflow: hidden;
	background-color: #fff;
	z-index: 1;
	height: 100vh;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 52px;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateX(120%);
	opacity: 0;
}

.childItem.active {
	transform: translateX(0);
	opacity: 1;
}

.childItem li {
	padding: 0 20px;
}

.childItem__goBackBtn {
	margin-bottom: 10px;
	padding: 16px 0 5px;
	text-align: center;
}

.childItem__goBackBtn span {
	display: block;
	position: relative;
	padding: 10px 20px 10px 40px;
}

.childItem__goBackBtn span:after {
	content: '';
	border-bottom: 1px solid transparent;
	border-right: 1px solid transparent;
	border-color: rgba(0,0,0,0.5);
	display: block;
	width: 14px;
	height: 14px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: auto;
	left: 23px;
	transform: rotate(135deg);
}

.mPopupNavScroll {
	height: calc(100% - 52px);
	position: relative;
}

.auth_title {
	margin-bottom: 35px;
	.h1 {
		margin-bottom: 10px;
	}
	.text-sm {
		font-size: 13px;
		color: rgb(51, 51, 51);
		line-height: 1.2;
	}
}

.sampleForm,
.loginForm {
	margin-bottom: 25px;
	.form-group {
		margin-bottom: 25px;
		position: relative;
		.helper_text {
			margin-top: 14px;
		}
	}
	.helper_text {
		margin-bottom: 25px;
		font-size: 13px;
		color: rgb(102, 102, 102);
		line-height: 1.2;
		margin-top: 14px;
        .textLg {
            margin-bottom: 10px;
        }
	}

	.form-control {
		font-size: 13px;
		color: rgba(51, 51, 51, 0.702);
		line-height: 1.2;
		padding-top: 13px;
		padding-bottom: 13px;
		font-weight: 500;
        &-lg {
            height: 45px;
        }
		&:focus {
			box-shadow: none;
		}
	}

    .form-control__select {
        position: relative;
        select {
            appearance:none;
        }
    }

    select.form-control-lg:not([size]):not([multiple]),
    .input-group-lg > select.form-control:not([size]):not([multiple]),
    .input-group-lg > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
    .input-group-lg > .input-group-append > select.input-group-text:not([size]):not([multiple]),
    .input-group-lg > .input-group-prepend > select.btn:not([size]):not([multiple]),
    .input-group-lg > .input-group-append > select.btn:not([size]):not([multiple]) {
        height: 45px;
        padding-top: 11px;
    }

	.btn {
		min-width: 180px;
		height: 45px;
		padding-top: 9px;
		font-weight: 600;
		font-size: 13px;
		line-height: 2;
	}

	.pass_field {
		position: relative;
	}
	.pass_visibility_trig {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 50px;
		text-align: center;
		line-height: 56px;
		font-size: 0;
		display: inline-block;
		cursor: pointer;
	}

	.button_fullWidth {
		width: 100%;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(0, 129, 255);
		border-radius: 6px;
		background-color: rgb(255, 255, 255);
		text-align: center;
		color: #000;
		&:hover {
			background-color: darken(#ffffff, 5%);
			border-color: darken(rgb(0, 129, 255), 5%);
		}
	}

	.marginBottom-lg {
		margin-bottom: 50px;
	}
}

.sampleForm  {
    .form-group .helper_text {
        margin-top: 30px;
    }

    .date_pick {
        &__item {
            position: relative;
            display: inline-block;
            width: 100%;
            margin-bottom: 7px;
        }
        .input-group-addon {
            width: 45px;
            height: 45px;
            line-height: 54px;
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            margin-bottom: 0;
        }
        .icon_calendar {
            display: block;
            margin-bottom: 0;
            line-height: 50px;
        }
    }

    .checkbox {
        margin-top: 14px;
        input[type="checkbox"] {
            position: absolute;
            width: 0;
            height: 0;
        }
        label {
            padding-left: 40px;
            font-size: 13px;
            font-weight: 500;
            color: #666;
            position: relative;
            span {
                display: inline-block;
                vertical-align: middle;
            }
            &:before {
                vertical-align: middle;
                display: inline-block;
                content: '';
                margin-left: -40px;
                margin-right: 15px;
                width: 25px;
                height: 25px;
                border-style: solid;
                border-width: 1px;
                border-color: rgba(0, 0, 0, .1);
                border-radius: 5px;
                background-color: rgb(251, 251, 251);
                transition: border-color .3s;
            }
        }

        &:hover label {
            &:before {
                border-color: rgba(0,0,0,.4);
            }
        }
        input:checked + label {
            &:after {
                content: '';
                display: block;
                width: 13px;
                height: 8px;
                transform: rotate(-45deg);
                position: absolute;
                top: 6px;
                left: 6px;
                border: 1px solid rgba(0,0,0, .3);
                border-top: 0;
                border-right: 0;
            }
        }
    }
}

.tagsList {
    margin-top: 17px;
}
.tagsList__item {
    display: inline-block;
    background-color: #0081ff;
    padding: 8px 33px 7px 20px;
    margin-bottom: 7px;
    border-radius: 4px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    margin-right: 5px;
    position: relative;
}

.tagList_delete {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 28px;
    background-image: url(../images/icons/x.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
}

.login_aside {
	margin-bottom: 50px;
	.h1 {
		margin-bottom: 30px;
	}

	.text {
		font-size: 15px;
		color: rgb(0, 0, 0);
		line-height: 1.2;
		margin-bottom: 30px;
	}

	.text-sm {
		font-size: 13px;
		color: rgb(0, 0, 0);
		line-height: 1.2;
		margin-bottom: 15px;
	}
}

.custom-checkbox {
	padding-left: 0;
	cursor: pointer;
	.custom-control-indicator {
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		width: 25px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(0, 0, 0);
		border-radius: 5px;
		background-color: rgb(251, 251, 251);
		opacity: 0.2;
		position: relative;
	}
	.custom-control-description {
		padding-left: 12px;
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		font-weight: normal;
		color: rgb(102, 102, 102);
		line-height: 1.2;
	}
	&:hover {
		.custom-control-indicator {
			opacity: .7;
		}
	}
	.custom-control-input:checked {
		& + .custom-control-indicator {
			opacity: .7;
			&:before {
				display: block;
				content: '';
				width: 15px;
				height: 10px;
				border: 1px solid black;
				border-top-color: transparent;
				border-right-color: transparent;
				transform: translateX(-50%) translateY(-50%) rotate(-45deg);
				position: absolute;
				top: 40%;
				left: 50%;
				border-radius: 2px;
			}
		}
	}
}

.soc_auth {
	margin-top: 35px;
	padding-top: 35px;
	border-top: 1px solid #d9d9d9;
	.h3 {
		font-size: 13px;
		color: rgb(51, 51, 51);
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 25px;
	}
}

.auth_icons {
	.auth_icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-right: 20px;
		border-radius: 5px;
		text-align: center;
		font-size: 0;
		line-height: 48px;
		svg {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.auth_googlePlus {
		background-color: #df4f3f;
	}
	.auth_fb {
		background-color: #3a5897;
	}
	.auth_twitter {
		background-color: #08a3f3;
	}
	.auth_pinterest {
		background-color: #bd081b;
	}
	.auth_instagram {
		background-image: linear-gradient(69deg, rgb(253,214,113) 0%, rgb(235,27,115) 50%, rgb(80,62,224) 100%);
	}
}


//**************************
//**************** + cabinet


.cabinetNav {
    
}
.cabinetNav__title {

}
.cabinetNav__links {
    margin: 20px 0 80px;
    @media (max-width: 991px) {
        margin-bottom: 30px;
    }
    padding: 0;
    list-style: none;
}
.cabinetNav__link-item {
    margin-bottom: 20px;
    a {
        color: #333;
        font-size: 0;
        line-height: 0;
        display: block;
        span {
            display: inline-block;
            vertical-align: middle;
            &.link_icon {
                width: 35px;
            }
            &.link_text {
                width: calc(100% - 35px);
                font-size: 13px;
                line-height: 1;
            }
        }
        &:hover .link_text {
            text-decoration: underline;
        }
    }
}

.cabinetNav__additionalLinks {
    &__item {
        margin-bottom: 20px;
        font-size: 13px;
        color: #333;
        line-height: 1.2;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: #0081ff;
            font-weight: bold;
        }
    }
}


.stats_brief {
    margin-bottom: 60px;
}
.statBlock {
    padding: 20px 25px;
}
.statBlock__title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    &_sm {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0;
    }
}
.statBlock__count {
    margin-bottom: 5px;
    font-size: 35px;
    @media (max-width: 1092px) {
        font-size: 25px;
    }
    line-height: 1;
    font-weight: bold;
    &_sm {
        font-size: 23px;
    }
}
.statBlock__currency {
    font-size: 23px;
    &_sm {
        font-size: 17px;
    }
}

.statBlock__text {
    font-size: 0;
}
.statBlock__icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 25px;
    margin-right: 10px;
}

.statBlock__textInside {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 30px);
    font-size: 13px;
}
.statBlock__stat {
    font-weight: bold;
}
.upStat {
    color: #0081ff;
    path {
        fill: #0081ff;
    }
}
.statBlock__icon {
    font-size: 13px;
    line-height: 40px;
}
.downStat {
    color: #ff214b;
    .statBlock__icon {
        transform: rotate(180deg);
    }
    path {
        fill: #ff214b;
    }
}

.info_acts {
    margin-bottom: 35px;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    &__item {
        display: flex;
        @media (max-width: 576px) {
            margin-top: 35px;
        }
    }
    &__label {
        color: #666;
        margin-right: 7px;
    }
    &__val {
        cursor: pointer;
        padding-right: 20px;
        white-space: nowrap;
        &:hover {
            color: #000;
        }
        svg {
            margin-left: 5px;
            margin-right: -20px;
        }
    }
}

.selectP {
    margin-top: 26px;
    width: 170px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    opacity: 0;
    transition: opacity .3s;
    &__option {
        padding: 7px 20px;
        cursor: default;
        &:hover {
            background-color: #f2f2f2;
        }
    }
    input:checked + & {
        display: block;
        opacity: 1;
    }
}

.infoTable__row {
    margin-bottom: 20px;
    padding: 15px 27px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    @media (max-width: 1024px) {
        justify-content: flex-start;
    }
    &.c5 {
        .infoTable__cell {
            width: 17%;
            &:last-child {
                width: auto;
            }
        }
    }
    &.c4 {
        .infoTable__cell {
            @media (max-width: 1024px) {
                min-width: 25%;
            }
            width: 20%;
            margin-right: auto;
            margin-left: 0;
            &:last-child {
                width: auto;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}
.infoTable__cell {
    max-width: 25%;
    padding: 5px 15px 5px 0;
    @media (max-width: 1024px) {
        min-width: 33%;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    @media (max-width: 767.5px) {
        min-width: 50% !important;
    }
    @media (max-width: 576px) {
        min-width: 100% !important;
    }

    &:last-child {
        padding-right: 0;
    }
    &_edit {
        width: 36px;
        @media (max-width: 1024px) {
            min-width: 36px !important;
            position: absolute;
            top: 5px;
            right: 10px;
        }
        .btn-edit {
            padding-left: 0;
            padding-right: 0;
            font-size: 0;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(204, 204, 204);
            border-radius: 50%;

            width: 36px;
            height: 36px;
            text-align: center;
        }
    }
}
.infoTable__act_stat {
    min-width: 140px;
    width: 140px;
    @media (max-width: 1024px) {
        min-width: 33%;
    }
    @media (max-width: 1024px) {
        .c4 & {
            min-width: 25%;
        }
    }
}
.infoTable__label {
    font-size: 13px;
    font-weight: 600;
    color: #666;
}
.infoTable__val {
    font-size: 13px;
    font-weight: 600;
    color: #363636;
    &_text_red {
        color: #ff2d55;
    }
    &_text_blue {
        color: #0081ff;
    }
}

.act_stat {
    &:before {
        display: inline-block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 6px;
        border-width: 2px;
        border-style: solid;
    }
    &_active:before,
    &_success:before {
        border-color: #6dd230;
    }
    &_warn:before {
        border-color: #ffa10e;
    }
    &_inactive:before {
        border-color: #3e3e3e;
    }
    &_blocked:before {
        border-color: #ff2d55;
    }
}

//**************************
//**************** - cabinet


//**************************
//**************** + landing

.landBlock {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
	&.pt-0 {
		padding-top: 0 !important;
	}
	&.pb-0 {
		padding-bottom: 0 !important;
	}
	&__logo {
		margin-bottom: 40px;
	}
	img {
		max-width: 100%;
	}
	.h1 {
		margin-bottom: 45px;
		font-size: 39px;
		font-weight: 600;
		color: #353535;
		line-height: 1.1;
		@media (max-width: 570px) {
			font-size: 30px;
		}
	}
	.descText {
		margin-bottom: 50px !important;
		font-size: 17px;
		color: #000;
		strong {
			display: block;
			margin-top: 15px;
		}
	}
	.leadBtn {
		.btn {
			min-width: 185px;
			font-size: 13px;
			font-weight: 600;
			height: 45px;
			padding-top: 13px;
		}
	}

	&.imaged {
		padding-top: 0 !important;
		background-image: url(../images/laptop.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 100% 0;
		@media (max-width: 992px) {
			background: none;
		}
		.minheight93 {
			height: 96vh;
			min-height: 750px;
			@media (max-width: 992px) {
				padding-top: 100px;
				height: auto;
				min-height: auto;
			}
		}
	}
}

.statistics {
	margin-bottom: 25px;
	padding-left: 7%;
	padding-right: 7%;
}
.statistics__num {
	margin-bottom: 15px;
	font-size: 39px;
	color: rgb(0, 129, 255);
	line-height: 0.923;
}
.statistics__title {
	margin-bottom: 45px;
	font-size: 20px;
	color: rgb(53, 53, 53);
	font-weight: bold;
	line-height: 1.8;
}
.statistics__text {
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 1.429;	  
}

.landBenefitsWrap {
	margin-bottom: 100px;
	@media (max-width: 576px) {
		margin-bottom: 50px;
	}
}

.landBenefits {
	padding-right: 5%;
	margin-bottom: 30px;
}
.landBenefits__icon {
	margin-bottom: 15px;
}
.landBenefits__title {
	margin-bottom: 40px;
	font-size: 16px;
	color: rgb(53, 53, 53);
	font-weight: bold;
	line-height: 1.2;	  
}
.landBenefits__text {
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 1.429;	 
}

.appsBtns {
	margin-bottom: 75px;
	.btn-ios {
		margin-right: 15px;
		@media (max-width: 570px) {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	.btn-ios,
	.btn-gplay {
		display: inline-block;
		border-radius: 7px;
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.05);
		overflow: hidden;
		transition: box-shadow .3s;
		&:hover {
			box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
		}
	}
}

//**************************
//**************** - landing

@media screen and (max-width: 1300px) {
  .modal-backdrop {
    top: 0;
  }
}
@media (max-width: 430px) {
	.nav-tabs .nav-item {
		width: 100%;
	}
	.nav-tabs .nav-link {
		border-bottom: 1px solid #ccc;
	}
}
@media (max-width: 992px) {
	.px-30 {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 576px) {
    .px-30 {
        padding-left: 0;
        padding-right: 0;
    }
}


.grid-container {
	margin-bottom: 50px;
	// min-height: 400px;

	.product__related {
		@media (max-width: 767.9px) {
			// margin-bottom: 20px;
		}
		overflow: hidden;
		height: 100%;
		margin-bottom: 0;
		position: relative;
		background-color: #eddfff;
		border: 0;
		display: flex;
		justify-content: flex-start;
		align-content: flex-end;
		color: #000;
		&:hover {
			text-decoration: none;
		}
		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: linear-gradient( to top, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
			opacity: .07;
		}
		.card-img_holder {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 245px;
			max-width: 100%;
			height: 100%;
			@media (max-width: 767.9px) {
				width: 55%;
				text-align: right;
			}
		}
		img {
			width: auto;
			max-width: 100%;
			height: initial;
			object-fit: unset;
			
			position: absolute;
			bottom: 0;
			right: 0;
			@media (max-width: 767.9px) {
				max-height: 100%;
			}
		}
		.card-body {
			position: relative;
			flex: unset;
			margin-top: auto;
			margin-bottom: 0;
			max-width: 60%;
			padding: 30px;
		}
		.card-text {
			margin-bottom: 18px;
			font-size: 17px;
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			line-height: 1.176;
			small {
				display: block;
				margin-top: 15px;
				font-size: 13px;
				color: #666;
			}
		}
		.prices_block {
			text-align: left;
		}
	}
}

.grid-container2 {
	margin-bottom: 50px;
	display: grid;
	grid-gap: 20px;
	.item {
		// background-color: #d4f0e0;
		// min-height: 190px;
	}
}
@media (min-width: 768px) and (max-width: 1199.9px) {
	.grid-container2 {
		grid-template-columns: repeat(2, minmax(320px, 1fr));
		grid-template-areas: 
			'a b'
			'a c'
			'e d'
			'f d';
	
		.item {
			&:nth-child(1) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: a;
			}
			&:nth-child(2) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: b;
			}
			&:nth-child(3) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: c;
			}
			&:nth-child(4) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: d;
			}
			&:nth-child(5) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: e;
			}
			&:nth-child(6) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: f;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1439.9px) {
	.grid-container2 {
		grid-template-columns: repeat(6, minmax(150px, 1fr));
		grid-template-areas: 
			'a a b b d d'
			'a a c c d d'
			'e e e f f f';
	
		.item {
			grid-column-start: 1;
			grid-column-end: 3;
			&:nth-child(3n + 2) {
				grid-column-start: 3;
				grid-column-end: 5;
			}
			&:nth-child(3n + 3) {
				grid-column-start: 5;
				grid-column-end: 7;
			}
			&:nth-child(1) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: a;
			}
			&:nth-child(2) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: b;
			}
			&:nth-child(3) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: c;
			}
			&:nth-child(4) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: d;
			}
			&:nth-child(5) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: e;
			}
			&:nth-child(6) {
				grid-column-start: auto;
				grid-column-end: auto;
				grid-area: f;
			}
		}
	}
}
@media (min-width: 1440px) {
	.grid-container2 {
		grid-template-columns: repeat(4, minmax(320px, 1fr));
		grid-template-areas: 
			'a c d e'
			'a f d h';
	
		.item {
			&:nth-child(1) {
				grid-area: a;
			}
			&:nth-child(4) {
				grid-area: d;
			}
		}
	}

}

.features_info_wrap {
	margin-top: 100px;
	margin-bottom: 50px;
}

.features_info {
	margin: 0 auto 50px;
	max-width: 310px;
	&__icon {
		height: 51px;
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
		margin-bottom: 20px;
	}
	&__heading {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 14px;
		font-family: "Montserrat", sans-serif;
		color: rgb(0, 0, 0);
		font-weight: 600;
	}
	&__text {
		font-size: 14px;
		color: rgb(102, 102, 102);
		line-height: 1.2;
	}
}

.text_block {
	margin-bottom: 80px;
}


.productInner__visualInfo {
    text-align: center;
    &_image {
        margin-bottom: 35px;
    }
    &_rating {
        margin-bottom: 35px;
        .rate_block_title {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 3px;
        }
        .rates_count {
            font-size: 13px;
        }
        .reviewsSum__reviews_stars {
            margin-bottom: 3px;
            width: 135px;
            height: 20px;
            span {
                height: 20px;
            }
        }
    }
    &_actions {
        margin-bottom: 35px;
        .btn {
            max-width: 380px;
            use {
                stroke-width: 0;
                fill: #ff8122;
                transition: fill 300ms;
            }
            &:hover {
                use {
                    fill: #fff;
                }
            }
        }
    }
}



.productInfo__icon {
    path,
    use {
        fill: #666;
        stroke-width: 0;
    }
}

.buttonInRow {
    margin-bottom: 40px;
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 40px;
    }
    &__text {
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &__button {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .col_move {
        padding-left: 35px;
    }
    // .col-lg_move {

    // }
}

.fz-14 {
    font-size: 14px;
}

.product__description {
    h2 {
        font-size: 20px;
        margin-bottom: 26px;
    }
    h4 {
        font-weight: 700;
        margin-bottom: 14px;
    }
    p {
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 2;
    }
}

.disc_blue {
    padding-left: 0;
    margin-bottom: 45px;
    li {
        list-style: none;
        padding-left: 35px;
        margin-bottom: 15px;
        &::before {
            display: inline-block;
            content: '';
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: #35bead;
            margin-left: -20px;
            margin-right: 15px;
            margin-bottom: 1px;
        }
    }
}

.btn-toggle {
    color: #111;
    transition: color 300ms, background 300ms;
    padding-top: 0;
    padding-bottom: 0;
    use {
        transition: stroke 300ms;
        stroke: $mainColor;
    }
    &:focus {
        text-decoration: none;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: $mainColor;
        use {
            stroke: #fff;
        }
    }

    .visible_hidden {
        .show ~ .text-center & {
            display: none;
        }
    }

    span {
        display: block;
    }

    .visible_shown {
        display: none;
        .show ~ .text-center & {
            display: block;
        }
    }

    & .svg-icon__link {
        transform: rotate(180deg);
    }
    .show ~ .text-center & .svg-icon__link {
        transform: rotate(0deg);
    }
}


.btn-fake_select {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 185px;
    &:hover {
        background-color: #fff;
        color: #111;
    }
    & &__icon {
        margin-right: 18px;
        font-size: 0;
        use {
            fill: $mainColor;
            stroke-width: 0;
        }
    }
    & &__caret {
        text-align: center;
        margin-left: auto;
        padding-left: 18px;
        font-size: 0;
        .svg-icon__link {
            transform: rotate(180deg);
        }
        use {
            stroke: $mainColor;
        }
    }
    &[aria-expanded="true"] {
        .btn-fake_select__caret {
            .svg-icon__link {
                transform: rotate(0);
            }
        }
    }
}

.dropdown-menu__fakeSelect {
    padding: 0;
    // border-color: $primary;
    .dropdown-item {
        padding-left: 1rem;
        border-bottom: 1px solid rgb(223, 223, 223);
        padding-top: 9px;
        padding-bottom: 9px;
        .icon {
            margin-right: 1rem;
        }
        use {
            fill: $primary;
            stroke-width: 0;
        }
        &.active use {
            fill: white;
        }
    }
    
    li:last-child {
        .dropdown-item {
            border-bottom: 0;
        }
    }
}



.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 204px !important;
    margin-bottom: 30px;

    border-color: #d7d7d7;
    border-width: 1px !important;
    border-style: dashed !important;
    border-radius: 7px;

    transition: background 300ms;

    &:hover {
        background-color: darken(white, 2%);
    }

    .dz-message__item {
        small {
            font-size: 12px;
            color: #666;
        }
        &:first-child ~ .dz-message__item {
            margin-top: 17px;
        }
    }

    .dz-error-message {
        color: $danger;
        // padding: 10px;
        // margin-top: 10px;
        // margin-bottom: 10px;
        // border: 1px solid $danger;
    }

    .dz-message {
        margin: 0 !important;
    }

    use {
        stroke-width: 0;
    }

    .uploaded-image {
        width: 100%;
        text-align: center;
        padding: 7px 0;
        &:last-child {
            margin-bottom: auto;
        }
    }
    .dz-default + .uploaded-image {
        margin-top: auto;
    }
}

.form-group {
    margin-bottom: 0;
    .messagesArea {
        min-height: 28px;
        &__error {
            color: $danger;
            font-size: 12px;
        }
        &__notification {
            color: $primary;
        }
    }
    label {
        font-size: 13px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 0;
        &:not(.form-check-label) {
            min-height: 2rem;
        }
        small {
            padding-left: 7px;
            font-size: 12px;
            font-weight: 400;
            color: #666;
        }
    }
}


.orderForm {
    padding: 25px 35px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.1);
    @media (max-width: 576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}


.ordersList {
    min-height: 100%;
    border-radius: 4px;
    background-color: rgb(244, 244, 244);
    padding: 27px 35px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
        flex-direction: column;
    }
    align-items: flex-start;
    .subTitle {
        margin-top: 0;
        align-self: flex-start;
    }
    .tableWrap {
        align-self: flex-start;
        margin-left: -35px;
        margin-right: -35px;
        margin-top: 0;
        margin-bottom: auto;
        min-width: calc(100% + 70px);
        th:first-child,
        td:first-child {
            padding-left: 35px;
        }
        th:last-child,
        td:last-child {
            padding-right: 35px;
        }

        th {
            border-top: 0;
            border-bottom-color: #d2d2d2;
            border-bottom-width: 1px;
            padding-top: 22px;
            padding-bottom: 22px;
        }

        td {
            border-top: 0;
            border-top-color: transparent;
            padding-top: 25px;
            padding-bottom: 0;
            font-size: 14px;
        }
		td:first-child ~ td {
            word-break: break-word;
        }
		@media (max-width: 768px) {
			& {
                border: 0;
            }
			tr,
            td,
			tbody {
                display: flex;
				flex-wrap: wrap;
				width: 100%;
                background-color: #fff;
            }
			tr {
                margin-bottom: 0;
                margin-top: 15px;
                padding-bottom: 15px;
                padding-top: 15px;
                border-bottom: 1px solid #ccc;
            }
            thead,
			th {
                display: none;
            }
            td {
				display: block;
                padding: 5px 1rem;
                border-bottom: 0;
                
				&:first-child {
                    padding-left: 1rem;
                }
            }
        }
    }
    .showAllButton {
        align-self: center;
		@media (max-width: 768px) {
            margin: auto auto 0;
        }
    }
}


@import "product_slider";
@import "top_baner";
@import "popup";