<footer class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xlg-2">
                    <div class="footNavEl">
                        <div class="footNavElHead">
                            Install.Uz
                        </div>
                        <ul>
                            <li><a href="#a">Мой аккаунт</a></li>
                            <li><a href="#a">Регистрация</a></li>
                            <li><a href="#a">Стол заказов</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xlg-2">
                    <div class="footNavEl">
                        <div class="footNavElHead">
                            Информация
                        </div>
                        <ul>
                            <li><a href="#a">Правила портала</a></li>
                            <li><a href="#a">Реклама на Install.Uz</a></li>
                            <li><a href="#a">Для правообладателей</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footerBottom">
            <div class="col-12 footer__copy">
                <div class="copyBlock">
                    2019 ©  Install.UZ <br>
                    Все права на продукцию принадлежат их правообладателям.<br>
                    Данный материал предназначен только для частного использования, без права передачи третьим лицам.
                </div>
            </div>
        </div>
    </div>
</footer>