<div class="pageHeader">
    <div class="head_nav container">
        <div class="row">
            <div class="col-12 head_nav__container">
                <div class="d-xlg-none popupNavTrigger_parent head_nav__item">
                    <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </button>

                    <div class="hamburger" id="hamburger-1" role="button"></div>
                </div>
                <a href="#a" title="Install.uz" class="head_nav__item logo">
                    <img src="images/logo.png" alt="Concept">
                </a>
                <div class="head_nav__item site_nav d-none d-xlg-block">
                    <ul class="mainMenu">
                        <li>
                            <a href="#a" class="menuTrig iconized _menuTrig d-none d-md-flex btn" id="dLabel"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="icon text-center">
                                    <svg class="svg-icon__link burgerIcon" preserveAspectRatio="xMidYMid" width="20" height="12"
                                        viewBox="0 0 20 12">
                                        <use xlink:href="#burger_icon" />
                                    </svg>
                                    <svg class="svg-icon__link closeIcon" preserveAspectRatio="xMidYMid" width="20" height="12"
                                        viewBox="0 0 20 12">
                                        <use xlink:href="#close_icon" />
                                    </svg>
                                </span>
                                <span>Каталог Программ</span>
                            </a>
                            <div class="dropdown-menu dropM" aria-labelledby="dLabel">
                                <div class="container keepopen">
                                    <div class="row align-items-start">
                                        <div class="col-5 main_categories_wrap_left">
                                            <ul class="main_categories list-unstyled">
                                                <li class="level2 active">
                                                    <a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="19" height="24">
                                                                <use xlink:href="#shield"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Безопасность</span>
                                                    </a>
                                                    <div class="main_categories_wrap_right">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="h2">Электроника</div>
                                                            </div>
                                                        </div>
                                                        <div class="row" id="el_id_1">
                                                            <div class="col-6">
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#a">Телефоны</a></li>
                                                                    <li><a href="#a">Мобильные телефоны</a></li>
                                                                    <li><a href="#a">Умные часы и браслеты</a></li>
                                                                    <li><a href="#a">Аксессуары для телефонов</a></li>
                                                                    <li><a href="#a">Чехлы</a></li>
                                                                    <li><a href="#a">Защитные пленки и стекла</a></li>
                                                                    <li><a href="#a">Портативная техника</a></li>
                                                                    <li><a href="#a">Наушники и Bluetooth-гарнитуры</a></li>
                                                                    <li><a href="#a">Портативная акустика</a></li>
                                                                    <li><a href="#a">Очки виртуальной реальности</a></li>
                                                                    <li><a href="#a">Планшеты</a></li>
                                                                    <li><a href="#a">Квадрокоптеры</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-6">
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#a">Аудио-Видео Техника</a></li>
                                                                    <li><a href="#a">Телевизоры</a></li>
                                                                    <li><a href="#a">Аудиотехника</a></li>
                                                                    <li><a href="#a">TV-тюнеры</a></li>
                                                                    <li><a href="#a">Стационарные медиаплееры</a></li>
                                                                    <li><a href="#a">Мультимедиа-проекторы</a></li>
                                                                    <li><a href="#a">Фото-Видеокамеры</a></li>
                                                                    <li><a href="#a">Фотоаппараты</a></li>
                                                                    <li><a href="#a">Объективы</a></li>
                                                                    <li><a href="#a">Экшн-камеры</a></li>
                                                                    <li><a href="#a">Видеокамеры</a></li>
                                                                    <li><a href="#a">Квадрокоптеры с камерой</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="24" height="24">
                                                                <use xlink:href="#media"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Графика и дизайн</span>
                                                    </a>
                                                    <div class="main_categories_wrap_right">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="h2">Электроника 2</div>
                                                            </div>
                                                        </div>
                                                        <div class="row" id="el_id_1">
                                                            <div class="col-6">
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#a">Телефоны</a></li>
                                                                    <li><a href="#a">Мобильные телефоны 2 asd</a></li>
                                                                    <li><a href="#a">Умные часы и браслеты 2 asd</a></li>
                                                                    <li><a href="#a">Аксессуары для телефонов 2 asd</a></li>
                                                                    <li><a href="#a">Чехлы 2 asd</a></li>
                                                                    <li><a href="#a">Защитные пленки и стекла 2 asd</a></li>
                                                                    <li><a href="#a">Портативная техника</a></li>
                                                                    <li><a href="#a">Наушники и Bluetooth</a></li>
                                                                    <li><a href="#a">Портативная акустика 2 asd</a></li>
                                                                    <li><a href="#a">Очки виртуальной реальности 2 asd</a></li>
                                                                    <li><a href="#a">Планшеты 2 asd</a></li>
                                                                    <li><a href="#a">Квадрокоптеры 2 asd</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-6">
                                                                <ul class="list-unstyled">
                                                                    <li><a href="#a">Аудио-Видео Техника</a></li>
                                                                    <li><a href="#a">Телевизоры 2 asd</a></li>
                                                                    <li><a href="#a">Аудиотехника 2 asd</a></li>
                                                                    <li><a href="#a">TV-тюнеры 2 asd</a></li>
                                                                    <li><a href="#a">Стационарные медиаплееры 2 asd</a></li>
                                                                    <li><a href="#a">Мультимедиа-проекторы 2 asd</a></li>
                                                                    <li><a href="#a">Фото-Видеокамеры</a></li>
                                                                    <li><a href="#a">Фотоаппараты 2 asd</a></li>
                                                                    <li><a href="#a">Объективы 2 asd</a></li>
                                                                    <li><a href="#a">Экшн-камеры 2 asd</a></li>
                                                                    <li><a href="#a">Видеокамеры 2 asd</a></li>
                                                                    <li><a href="#a">Квадрокоптеры с камерой 2 asd</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="26" height="26">
                                                                <use xlink:href="#net"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Интернет и сети</span>
                                                    </a></li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="25" height="25">
                                                                <use xlink:href="#media"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Мультимедиа</span>
                                                    </a></li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="25" height="25">
                                                                <use xlink:href="#graph"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Офисные программы</span>
                                                    </a></li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="25" height="25">
                                                                <use xlink:href="#desctop"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Рабочий стол</span>
                                                    </a></li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="25" height="25">
                                                                <use xlink:href="#dev"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Разработка</span>
                                                    </a></li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="25" height="25">
                                                                <use xlink:href="#system"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Система</span>
                                                    </a></li>
                                                <li><a href="#a" class="iconized">
                                                        <span class="icon"><svg class="svg-icon__link" width="25" height="25">
                                                                <use xlink:href="#gaming"></use>
                                                            </svg></span>
                                                        <span class="iconized_text">Игры</span>
                                                    </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#a" class="menuTrig">Статьи</a></li>
                        <li><a href="#a" class="menuTrig">Стол заказов</a></li>
                    </ul>
                </div>
                <div class="head_nav__item header_nav_search">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Введите название или категорию ...."
                                aria-label="Введите название или категорию ...." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-link iconized text-center" type="button">
                                    <span class="icon"><svg class="svg-icon__link" width="26" height="26">
                                            <use xlink:href="#search" /></svg></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="head_nav__item header_nav text-right d-none d-xlg-block">
                    <a href="#a" class="btn btn-lg header_nav__signup">Регистрация</a>
                    <a href="#a" class="btn btn-lg header_nav__signin">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>