<svg style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<symbol viewBox="0 0 29.7 29.3" id="logout">
<style type="text/css">
	.strr1{fill:none;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.str2{fill:none;stroke:#231F20;stroke-linecap:round;stroke-linejoin:round;}
</style>
	<path class="strr1" d="M13.5,7.9c-0.3,0.9-1.2,1.4-2.2,1.2c-0.9-0.3-1.4-1.3-1.1-2.2c0.3-0.9,1.2-1.4,2.2-1.2C13.2,6,13.7,7,13.5,7.9
		z"/>
	<path class="strr1" d="M10.3,26.7c0,0,0-3.9-0.1-5.2c0-0.2-0.1-0.4-0.3-0.6l-2.7-3C7,17.5,7,17,7.1,16.6l1.2-3.8
		c0.3-0.9,1.2-1.6,2.1-1.4c1,0.2,1.5,1.2,1.3,2.4l-0.3,2.8l3.1,0.1"/>
	<polyline class="strr1" points="6.3,19.7 4.7,21.5 0.5,21.5 	"/>
	<polyline class="strr1" points="6.7,11.6 4.9,11.6 2.8,15.4 	"/>
	<polyline class="str2" points="14.2,21.7 14.2,23.5 20.2,23.5 	"/>
	<polyline class="str2" points="14.2,3.5 14.2,0.5 29.2,0.5 	"/>
	<path class="str2" d="M10.6,9.9"/>
	<path class="str2" d="M10.6,16.8"/>
	<polygon class="str2" points="29.2,0.6 29.2,23.6 20.2,28.8 20.2,5.8 	"/>
</symbol>

<symbol viewBox="0 0 17 19" id="android" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.21 13.947c-.659 0-1.233-.544-1.233-1.167V7.328c0-.62.574-1.166 1.233-1.166.659 0 1.234.546 1.234 1.166v5.452c0 .623-.575 1.167-1.234 1.167zm-2.881.779h-.824v2.726c0 .623-.574 1.167-1.233 1.167-.659 0-1.234-.544-1.234-1.167v-2.726H7.391v2.726c0 .623-.575 1.167-1.234 1.167s-1.233-.544-1.233-1.167v-2.726H4.1c-.494 0-.824-.312-.824-.779V6.162h9.877v7.785c0 .467-.33.779-.824.779zM3.281 5.171l.002-.032a4.44 4.44 0 0 1 2.05-3.494L4.265.633a.36.36 0 0 1 0-.543.409.409 0 0 1 .574 0l1.105 1.042.051.048C6.65.87 7.384.715 8.202.713h.025c.817.002 1.552.157 2.207.467l.051-.048L11.59.09a.409.409 0 0 1 .574 0 .36.36 0 0 1 0 .543l-1.069 1.012a4.439 4.439 0 0 1 2.058 3.737H3.276c0-.071.002-.142.005-.211zm6.992-1.15c.341 0 .617-.262.617-.584 0-.323-.276-.584-.617-.584-.341 0-.617.261-.617.584 0 .322.276.584.617.584zm-4.117 0c.34 0 .617-.262.617-.584 0-.323-.277-.584-.617-.584-.341 0-.617.261-.617.584 0 .322.276.584.617.584zm-4.937 9.926c-.659 0-1.234-.544-1.234-1.167V7.328c0-.62.575-1.166 1.234-1.166s1.233.546 1.233 1.166v5.452c0 .623-.574 1.167-1.233 1.167z"/></symbol><symbol viewBox="0 0 16 19" id="apple" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.002 13.936a10.337 10.337 0 0 1-1.349 2.678c-.774 1.095-1.651 2.336-3.079 2.362-.667.012-1.119-.179-1.558-.362-.445-.187-.905-.38-1.626-.38-.758 0-1.242.199-1.709.392-.416.172-.846.35-1.442.373L5.166 19c-1.267 0-2.193-1.15-3.107-2.431C.227 14.006-.826 9.779.83 6.994c.871-1.468 2.451-2.395 4.124-2.419h.05c.719 0 1.399.261 1.998.491.448.173.835.321 1.133.321.266 0 .651-.147 1.096-.317.646-.247 1.449-.554 2.288-.554.107 0 .214.006.318.015.714.03 2.488.278 3.645 1.919a.154.154 0 0 1 .025.118.157.157 0 0 1-.071.1l-.016.01c-.336.201-2.012 1.313-1.991 3.413.023 2.585 2.23 3.534 2.481 3.633l.012.005a.154.154 0 0 1 .085.191l-.005.016zM8.178 4.637c-.069 0-.139-.003-.207-.008a.159.159 0 0 1-.147-.135c-.159-1.164.444-2.319 1.061-3.011C9.611.659 10.826.055 11.838.015a.16.16 0 0 1 .167.138c.117 1.038-.271 2.196-1.039 3.098-.729.855-1.797 1.386-2.788 1.386z"/></symbol><symbol viewBox="0 0 19 10" id="arrow_top" xmlns="http://www.w3.org/2000/svg"><path d="M18.5 9.5l-9-9-9 9"/></symbol><symbol viewBox="0 0 17 12" id="burger_icon" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 7H1a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2zm0-5H1a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2zM1 10h15a1 1 0 0 1 0 2H1a1 1 0 0 1 0-2z"/></symbol><symbol viewBox="0 0 12 12" id="close_icon" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.273 5.986l4.321 4.099c.382.363.511 1.031.287 1.493-.223.462-.714.543-1.097.18L5.993 7.214l-4.672 4.484c-.374.359-.854.279-1.072-.178-.219-.457-.093-1.119.28-1.477l4.198-4.03L.406 1.915C.024 1.552-.105.884.119.422.343-.04.834-.121 1.216.242l4.791 4.544L10.679.301c.373-.358.854-.278 1.072.179.219.457.093 1.119-.28 1.477L7.273 5.986z"/></symbol><symbol viewBox="0 0 43 43" id="desctop" xmlns="http://www.w3.org/2000/svg"><path class="fst0" d="M6.5 38.5h36v2c0 1.1-.9 2-2 2h-38c-1.1 0-2-.9-2-2v-2h2M31.5 10.5h7c1.1 0 2 .9 2 2v22M2.5 38.5v-26c0-1.1.9-2 2-2h7"/><path class="fst0" d="M31.5 13.5h6v22h-32v-22h6"/><path class="fst0" d="M21.5.5l4.1 4.9c.6.7.9 1.6.9 2.6v7.4c0 .7.2 1.4.6 2.1l2 3.3c.3.5.4 1 .4 1.5v2.2h-16v-2.2c0-.5.1-1.1.4-1.5l2-3.3c.4-.6.6-1.3.6-2.1V7.9c0-.9.3-1.8.9-2.6L21.5.5M21.5 20.5v6M26.5 24.5v2M16.5 24.5v2"/><circle class="fst0" cx="21.5" cy="13.5" r="2"/><path class="fst0" d="M13.5 35.5c0-2.8 2.2-5 5-5M24.5 30.5c2.8 0 5 2.2 5 5M29.5 34.5c0-2.2 1.8-4 4-4M9.5 30.5c2.2 0 4 1.8 4 4M33.5 30.5c0-2.2 1.8-4 4-4M5.5 26.5c2.2 0 4 1.8 4 4"/></symbol><symbol viewBox="0 0 43 39" id="dev" xmlns="http://www.w3.org/2000/svg"><circle cx="21.5" cy="28.5" r="1"/><path class="gst0" d="M40.5 2.5c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2h-23M13.5 32.5h-11c-1.1 0-2-.9-2-2v-26c0-1.1.9-2 2-2M14.5 38.5h14M25.5 32.5v4M17.5 32.5v4M4.5 24.5h34M27.5 38.5c-1.1 0-2-.9-2-2M17.5 36.5c0 1.1-.9 2-2 2"/><circle class="gst0" cx="11.5" cy="10.5" r="2"/><path class="gst0" d="M16.5 8.5v4M26.5 8.5v4M24.5 16.5v4M27.5 16.5v4M21.5 16.5v4"/><circle class="gst0" cx="21.5" cy="10.5" r="2"/><circle class="gst0" cx="16.5" cy="18.5" r="2"/><path class="gst0" d="M6.5.5v4"/><circle class="gst0" cx="11.5" cy="2.5" r="2"/><path class="gst0" d="M16.5.5v4M33.5.5v4M36.5.5v4"/><circle class="gst0" cx="21.5" cy="2.5" r="2"/><circle class="gst0" cx="28.5" cy="2.5" r="2"/><circle class="gst0" cx="31.5" cy="10.5" r="2"/></symbol><symbol viewBox="0 0 19 20" id="download" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 8.5l-7 7-7-7M9.5 15.5V.5M18.5 15.5v4H.5v-4"/></symbol><symbol viewBox="0 0 19 17" id="favourite" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M17.51 8.487l-1.045.976a.41.41 0 0 1-.57-.014.389.389 0 0 1 .014-.559l1.038-.968a4.109 4.109 0 0 0 1.246-2.954c0-1.118-.445-2.17-1.253-2.961-1.667-1.632-4.381-1.632-6.049 0L9.788 3.088a.41.41 0 0 1-.571 0L8.114 2.007c-1.668-1.632-4.382-1.632-6.05 0a4.121 4.121 0 0 0 0 5.922l7.438 7.28.724-.708a.41.41 0 0 1 .571 0 .39.39 0 0 1 0 .558l-1.009.988a.408.408 0 0 1-.571 0l-7.723-7.56a4.887 4.887 0 0 1-1.49-3.519 4.89 4.89 0 0 1 1.49-3.519c1.981-1.94 5.207-1.94 7.19 0l.818.801.819-.801c1.981-1.94 5.207-1.94 7.19 0 .96.94 1.489 2.19 1.489 3.519 0 1.33-.529 2.58-1.49 3.519zm-5.954 4.65h2.739v-2.681c0-.218.18-.394.403-.394.223 0 .404.176.404.394v2.681h2.738c.223 0 .403.176.403.395 0 .218-.18.395-.403.395h-2.738v2.681a.4.4 0 0 1-.404.395.399.399 0 0 1-.403-.395v-2.681h-2.739a.399.399 0 0 1-.403-.395c0-.219.18-.395.403-.395z"/></symbol><symbol viewBox="0 0 43 35" id="gaming" xmlns="http://www.w3.org/2000/svg"><path d="M36.5 19.5c0 .6-.4 1-1 1s-1-.4-1-1 .4-1 1-1 1 .4 1 1zM32.5 19.5c0 .6-.4 1-1 1s-1-.4-1-1 .4-1 1-1 1 .4 1 1zM28.5 19.5c0 .6-.4 1-1 1s-1-.4-1-1 .4-1 1-1 1 .4 1 1z"/><path class="jst0" d="M42.5 22.5v2.2c0 .6-.1 1.1-.3 1.6l-2.6 5.8c-.6 1.4-2.1 2.4-3.7 2.4H7.1c-1.6 0-3-.9-3.7-2.4L.8 26.3c-.2-.5-.3-1.1-.3-1.6v-2.2h38"/><circle class="jst0" cx="33.5" cy="28.5" r="6"/><circle class="jst0" cx="21.5" cy="28.5" r="6"/><circle class="jst0" cx="21.5" cy="28.5" r="2"/><circle class="jst0" cx="33.5" cy="28.5" r="2"/><circle class="jst0" cx="9.5" cy="28.5" r="2"/><circle class="jst0" cx="9.5" cy="28.5" r="6"/><path class="jst0" d="M2 19.5l.7-1.3c.5-1 1.5-1.7 2.7-1.7h8.1M13.5 16.5h24.8c1.3 0 2.4.8 2.8 2.1l1.3 3.9M13.5 12.5L7 10.9c-.9-.2-1.5-1-1.5-1.9V6.5c0-1.1.9-2 2-2h17.8c.8 0 1.5.4 1.8 1.1l2.3 4.6c.1.2.2.5.2.7 0 .9-.7 1.6-1.6 1.6M28.5 8.5h14M42.5 7.5v2M42.5 9.5l-1-1M42.5 7.5l-1 1M21.5 12.5h6v4h-14v-4M9.5 4.5v-4"/></symbol><symbol viewBox="0 0 43 43" id="graph" xmlns="http://www.w3.org/2000/svg"><circle cx="21.5" cy="32.5" r="1"/><path class="kst0" d="M36.5 6.5h4c1.1 0 2 .9 2 2v26c0 1.1-.9 2-2 2h-23M13.5 36.5h-11c-1.1 0-2-.9-2-2v-26c0-1.1.9-2 2-2h4M14.5 42.5h14M25.5 36.5v4M17.5 36.5v4M4.5 28.5h34M27.5 42.5c-1.1 0-2-.9-2-2M17.5 40.5c0 1.1-.9 2-2 2"/><path class="kst0" d="M10.5 24.5V10.2c0-1.1.3-2.2.9-3.2L15.5.5 19.6 7c.6 1 .9 2.1.9 3.2v14.3M15.5 13.5v11M19.5 9.5h-6"/><path class="kst1" d="M28.5 12.5c2.2 0 4-1.6 4-3.6 0-3-4-8.4-4-8.4s-4 5.4-4 8.4c0 .2 0 .4.1.6M31.2 14.7c.8 2.5 1.3 5.1 1.3 7.8v2M24.5 24.5v-2c0-2.6.4-5.3 1.3-7.8l.7-2.2h2M24.5 20.5h4"/><path class="kst0" d="M14.5 2.5h2"/></symbol><symbol viewBox="0 0 19 18" id="icon_heart" xmlns="http://www.w3.org/2000/svg"><path d="M9.5 17.5s-9-5-9-12c0-2 1-5 4-5s5 2.3 5 2.3 2-2.3 5-2.3 4 3 4 5c0 7-9 12-9 12z"/></symbol><symbol viewBox="0 0 17 18" id="icon_login" xmlns="http://www.w3.org/2000/svg"><path d="M11 9.4l.3 1.2c.1.6.5 1 1 1.3l1.5.8c1 .5 1.8 1.5 2.1 2.6l.6 2.2H.5l.6-2.2c.3-1.1 1-2.1 2.1-2.6l1.5-.8c.5-.3.9-.7 1-1.3L6 9.4M12.5 5v-.5c0-2.2-1.8-4-4-4s-4 1.8-4 4V5c0 2.2 1 4.3 2.8 5.6.7.5 1.7.5 2.4 0 1.8-1.3 2.8-3.4 2.8-5.6z"/></symbol><symbol viewBox="0 0 17 19" id="linux" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.464 15.244c-.584-.228-.833-.53-.809-.982.025-.527-.289-.913-.438-1.066.09-.327.353-1.461.001-2.446-.379-1.054-1.535-2.664-2.728-4.246-.489-.65-.512-1.356-.539-2.174-.025-.78-.054-1.665-.51-2.647C10.945.612 9.95-.002 8.711-.002c-.737 0-1.493.22-2.075.603-1.192.785-1.035 2.497-.93 3.629.014.155.027.302.035.427.069 1.109.006 1.694-.076 1.871-.054.116-.317.447-.595.797-.288.362-.615.772-.882 1.154-.319.46-.577 1.163-.826 1.843-.183.497-.355.967-.523 1.248a1.633 1.633 0 0 0-.173 1.276c-.12.08-.294.237-.44.533-.178.361-.538.555-1.286.693-.344.066-.581.205-.705.409-.18.299-.082.674.008.93.132.376.05.614-.101 1.047-.034.1-.073.213-.113.338a.584.584 0 0 0 .067.532c.283.412 1.107.557 1.956.653.507.057 1.062.251 1.598.438.526.183 1.07.373 1.564.43.075.009.149.014.221.014.746 0 1.083-.473 1.19-.667a13.824 13.824 0 0 1 2.145-.241c.951-.026 1.871.153 2.132.208.082.15.298.492.642.668.189.099.453.156.723.156.288 0 .836-.065 1.27-.501.433-.437 1.514-.996 2.303-1.404.177-.091.341-.176.486-.253.443-.234.685-.57.664-.919-.018-.291-.22-.546-.526-.666zm-9.818-.084c-.056-.371-.556-.739-1.135-1.165-.474-.348-1.011-.743-1.159-1.078-.306-.69-.065-1.903.355-2.527.208-.313.378-.788.542-1.246.177-.496.36-1.008.565-1.232.324-.35.624-1.031.677-1.568.304.277.775.628 1.21.628a.745.745 0 0 0 .195-.025c.297-.082.735-.324 1.159-.557.365-.202.815-.45.985-.473.291.398 1.979 3.964 2.151 5.108a5.15 5.15 0 0 1-.08 1.948 1.697 1.697 0 0 0-.201-.013c-.47 0-.594.245-.627.391-.083.38-.092 1.595-.093 1.868-.17.206-1.03 1.177-2.265 1.351-.503.07-.972.105-1.395.105-.362 0-.593-.026-.689-.04l-.62-.678c.244-.115.489-.358.425-.797zm.787-11.168a.752.752 0 0 0-.057.026 1.262 1.262 0 0 0-.013-.122c-.068-.372-.327-.642-.615-.642a.514.514 0 0 0-.066.005c-.172.027-.306.15-.38.325.065-.383.292-.666.561-.666.317 0 .584.407.584.889 0 .06-.005.12-.014.185zm2.459.287a.9.9 0 0 0 .044-.282c0-.437-.29-.779-.661-.779-.362 0-.657.349-.657.779 0 .029.002.058.005.088a3.395 3.395 0 0 1-.056-.021 1.13 1.13 0 0 1-.063-.374c0-.523.35-.948.78-.948.429 0 .779.425.779.948 0 .217-.062.424-.171.589zm-.317 1.016c-.006.026-.02.038-.165.111a4.213 4.213 0 0 0-.28.148l-.077.044c-.308.179-1.029.595-1.224.62-.133.017-.215-.032-.4-.152-.042-.027-.086-.056-.134-.085-.333-.208-.547-.438-.571-.528.108-.08.378-.281.516-.399.279-.249.561-.415.7-.415a.14.14 0 0 1 .021.001c.164.028.568.182.863.294.136.052.254.097.337.125.261.086.397.195.414.236zm2.345 11.603c.148-.634.317-1.496.29-2.004a12.527 12.527 0 0 0-.028-.363c-.019-.227-.048-.565-.018-.665a.093.093 0 0 1 .02-.007c.001.29.067.87.553 1.073.145.059.31.09.492.09.486 0 1.026-.228 1.248-.439.13-.124.239-.276.316-.396a.46.46 0 0 1 .022.187c-.029.428.189.997.605 1.207l.06.03c.148.074.541.271.548.364-.001 0-.004.011-.026.031-.098.085-.445.254-.78.418-.594.289-1.268.618-1.571.921-.426.428-.908.715-1.199.715a.313.313 0 0 1-.095-.012c-.316-.094-.576-.529-.437-1.15zM1.147 15.281c-.032-.144-.058-.258-.031-.368.02-.081.442-.168.622-.206.254-.052.516-.107.687-.206.232-.134.357-.381.468-.599.08-.157.163-.32.261-.374a.063.063 0 0 1 .031-.006c.184 0 .571.37.794.701.057.083.162.251.283.444.362.579.859 1.372 1.118 1.638.234.239.612.698.519 1.092-.068.306-.431.554-.516.609a.54.54 0 0 1-.115.01c-.496 0-1.479-.394-2.007-.606l-.078-.031c-.294-.118-.776-.192-1.241-.264-.37-.057-.877-.135-.961-.206-.068-.073.011-.31.081-.519.05-.15.101-.306.13-.469.04-.259-.007-.47-.045-.64z"/></symbol><symbol viewBox="0 0 43 35" id="media" xmlns="http://www.w3.org/2000/svg"><path class="ost0" d="M.5 12.5v20c0 1.1.9 2 2 2h38c1.1 0 2-.9 2-2v-16M5.5 12.5h37v-6H.5v6M.5.5h42v6H.5zM24.5 6.5l-6 6M18.5.5l6 6M30.5 6.5l-6 6M24.5.5l6 6M18.5 6.5l-6 6M12.5.5l6 6M12.5 6.5l-6 6M6.5.5l6 6M6.5 6.5l-6 6M.5.5l6 6M42.5 6.5l-6 6M36.5.5l6 6M36.5 6.5l-6 6M30.5.5l6 6M6.5 28.5h30M6.5 18.5h30M21.5 24.5v-2M6.5 24.5v-2M36.5 24.5v-2"/></symbol><symbol viewBox="0 0 43 43" id="net" xmlns="http://www.w3.org/2000/svg"><path class="pst0" d="M29.4 17.5c-.5-9.6-4.8-17-9.9-17-5.5 0-10 8.5-10 19 0 1.7.1 3.4.3 5M16.5 37.6c-2.5-1.5-4.6-4.8-5.8-9.1"/><path class="pst0" d="M38.4 17.5c-1-9.6-9.1-17-18.9-17C9 .5.5 9 .5 19.5c0 9.5 6.9 17.3 16 18.8M19.5 4.5v13M16.5 19.5H.5M36 10.5H7.5M16.5 28.5H3"/><path class="pst1" d="M33.5 38.5h-11c-1.1 0-2-.9-2-2v-13c0-1.1.9-2 2-2h18c1.1 0 2 .9 2 2v13c0 1.1-.9 2-2 2h-3M33.5 38.5v4M29.5 38.5v4M27.5 42.5h8M20.5 34.5h22"/></symbol><symbol viewBox="0 0 43 39" id="office" xmlns="http://www.w3.org/2000/svg"><path class="qst0" d="M9.9 17.1l5.2-5.2M18.2 11.5l6.6 4M27.8 15l6.4-7"/><circle class="qst0" cx="16.5" cy="10.5" r="2"/><circle class="qst0" cx="26.5" cy="16.5" r="2"/><path class="qst0" d="M39.5 6.5h-2"/><circle class="qst0" cx="35.5" cy="6.5" r="2"/><path class="qst0" d="M4.5 18.5h2"/><circle class="qst0" cx="8.5" cy="18.5" r="2"/><circle cx="21.5" cy="28.5" r="1"/><path class="qst0" d="M13.5 32.5h-11c-1.1 0-2-.9-2-2v-28c0-1.1.9-2 2-2h38c1.1 0 2 .9 2 2v28c0 1.1-.9 2-2 2h-23M14.5 38.5h14M25.5 32.5v4M17.5 32.5v4M4.5 24.5h34M27.5 38.5c-1.1 0-2-.9-2-2M17.5 36.5c0 1.1-.9 2-2 2"/></symbol><symbol viewBox="0 0 20 19" id="pagination_left" xmlns="http://www.w3.org/2000/svg"><style>.rst0{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}</style><path class="rst0" d="M9.5 18.5l-9-9 9-9m10 9H.5"/></symbol><symbol viewBox="0 0 32 32" id="search" xmlns="http://www.w3.org/2000/svg"><path fill="#222222" stroke="transparent" d="M19.427 20.427a8.5 8.5 0 1 1 2-2l5.585 5.585c.55.55.546 1.431 0 1.976l-.023.023a1.398 1.398 0 0 1-1.976 0l-5.585-5.585zM14.5 20a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13z"/></symbol><symbol viewBox="0 0 33 43" id="shield" xmlns="http://www.w3.org/2000/svg"><circle cx="16.5" cy="21.5" r="1"/><path class="tst0" d="M32.5 8.5v21.9c0 1.3-.6 2.5-1.7 3.3l-10.7 7.6c-1.1.8-2.3 1.2-3.6 1.2-1.3 0-2.6-.4-3.6-1.2L2.2 33.7c-1.1-.8-1.7-2-1.7-3.3V2.5c0-1.1.9-2 2-2h28c1.1 0 2 .9 2 2v2"/><path class="tst0" d="M28.5 8.5v21c0 .6-.3 1.2-.8 1.6l-9.4 6.8c-.5.4-1.2.6-1.8.6-.6 0-1.3-.2-1.8-.6l-9.4-6.8c-.5-.4-.8-1-.8-1.6v-25"/><path class="tst0" d="M17.5 17.5h4v8h-10v-8h2M13.5 17.5v-5c0-1.7 1.3-3 3-3s3 1.3 3 3v1M4.5 4.5h24M28.5 8.5h4"/></symbol><symbol viewBox="0 0 43 43" id="system" xmlns="http://www.w3.org/2000/svg"><path class="ust0" d="M42.5 12.5v22c0 1.1-.9 2-2 2h-4M6.5 36.5h-4c-1.1 0-2-.9-2-2v-32c0-1.1.9-2 2-2h38c1.1 0 2 .9 2 2v6h-38"/><circle cx="4.5" cy="4.5" r="1"/><circle cx="8.5" cy="4.5" r="1"/><circle cx="12.5" cy="4.5" r="1"/><path class="ust0" d="M36.5 27.5c0-1.2-.8-2.2-1.9-2.5-.8-.2-1.5-.8-1.8-1.6-.1-.3-.3-.7-.4-1-.4-.7-.4-1.6.1-2.4.6-1 .4-2.3-.4-3.1-.8-.8-2.1-1-3.1-.4-.7.4-1.6.5-2.4.1-.3-.2-.7-.3-1-.4-.8-.3-1.4-1-1.6-1.8-.3-1.1-1.3-1.9-2.5-1.9s-2.2.8-2.5 1.9c-.2.8-.8 1.5-1.6 1.8-.3.1-.7.3-1 .4-.7.4-1.6.4-2.4-.1-1-.6-2.3-.4-3.1.4-.8.8-1 2.1-.4 3.1.4.7.5 1.6.1 2.4-.2.3-.3.7-.4 1-.3.8-1 1.4-1.8 1.6-1.1.3-1.9 1.3-1.9 2.5s.8 2.2 1.9 2.5c.8.2 1.5.8 1.8 1.6.1.3.3.7.4 1 .4.8.3 1.7-.1 2.4-.6 1-.4 2.3.4 3.1.8.8 2.1 1 3.1.4.7-.4 1.6-.5 2.4-.1.3.2.7.3 1 .4.8.3 1.4 1 1.6 1.8.3 1.1 1.3 1.9 2.5 1.9s2.2-.8 2.5-1.9c.2-.8.8-1.5 1.6-1.8.3-.1.7-.3 1-.4.8-.4 1.7-.3 2.4.1 1 .6 2.3.4 3.1-.4.8-.8 1-2.1.4-3.1-.4-.7-.5-1.6-.1-2.4.2-.3.3-.7.4-1 .3-.8 1-1.4 1.8-1.6 1.1-.3 1.9-1.3 1.9-2.5zm-15 7c-3.9 0-7-3.1-7-7s3.1-7 7-7 7 3.1 7 7-3.1 7-7 7z"/><circle cx="21.5" cy="27.5" r="2"/></symbol><symbol viewBox="0 0 44 54" id="upload" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" fill="#999" d="M43.966 49.938c0 2.234-1.837 4.047-4.091 4.047H4.092C1.837 53.985 0 52.172 0 49.929V4.04C0 1.805 1.837-.015 4.092-.015h25.986a.82.82 0 0 1 .581.243l.002.002 13.074 13.305c.026.028.037.064.059.094.042.056.085.109.111.174.01.027.009.055.017.082.02.07.044.138.044.214l-.001.003.001.003v35.833zM29.255 1.607H4.092c-1.351 0-2.453 1.093-2.453 2.433v45.889a2.451 2.451 0 0 0 2.453 2.442h35.783a2.45 2.45 0 0 0 2.452-2.442V14.914H30.078a.817.817 0 0 1-.823-.809V1.607zM41.206 13.29L30.894 2.794V13.29h10.312zm-11.59 15.357a.826.826 0 0 1-.577.24.85.85 0 0 1-.583-.24l-5.657-5.606v16.338c0 .445-.368.81-.816.81a.816.816 0 0 1-.822-.81V23.046l-5.659 5.601a.819.819 0 0 1-1.157 0 .792.792 0 0 1 0-1.139l7.055-7.002a.82.82 0 0 1 1.161.003l7.055 6.999a.797.797 0 0 1 0 1.139z"/></symbol><symbol viewBox="0 0 20 19" id="windows" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M19.833 9.037H9.349a.16.16 0 0 1-.163-.156V1.616c0-.077.059-.143.14-.154L19.81.013a.169.169 0 0 1 .13.037.15.15 0 0 1 .057.117v8.714a.16.16 0 0 1-.164.156zM8.039 17.436l-.023-.001-7.858-1.023a.159.159 0 0 1-.141-.154l-.001-6.132a.15.15 0 0 1 .048-.11.171.171 0 0 1 .116-.046h7.859c.09 0 .164.07.164.156v7.155a.155.155 0 0 1-.056.117.171.171 0 0 1-.108.038zm0-8.399H.181a.16.16 0 0 1-.164-.156L.01 2.811a.16.16 0 0 1 .142-.154l7.865-1.014a.169.169 0 0 1 .13.037.153.153 0 0 1 .056.117v7.084a.16.16 0 0 1-.164.156zm1.31.933h10.487c.043 0 .085.017.116.046.03.029.048.069.048.11l-.003 8.714a.153.153 0 0 1-.056.117.17.17 0 0 1-.131.037L9.327 17.593a.158.158 0 0 1-.141-.154v-7.313a.16.16 0 0 1 .163-.156z"/></symbol></svg>