<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> pageheader}}
    {{> postbanner}}
    <section class="main_block">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Heading h1</h1>
                    <h2>Heading h2</h2>
                    <h3>Heading h3</h3>
                    <h4>Heading h4</h4>
                    <h5>Heading h5</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero officia expedita ipsam eligendi
                        repudiandae, unde explicabo praesentium. Totam explicabo sint dolor molestiae tenetur sunt,
                        blanditiis a officia impedit suscipit repellendus, mollitia nesciunt quaerat laborum consequatur
                        fuga illum maxime aperiam vel, cupiditate repudiandae? Distinctio aperiam iure tenetur nemo
                        aspernatur inventore sunt consequuntur. Numquam vel voluptates perspiciatis illum quidem? Odit,
                        repellat quaerat nihil maiores accusantium, fugiat nulla porro voluptatum molestiae autem quis
                        tenetur atque mollitia aspernatur fuga, perspiciatis eveniet quas modi. Iusto mollitia dolore,
                        accusamus, modi fugiat fuga officia aut libero dicta aperiam fugit eum et! Officia laboriosam
                        nobis commodi doloremque facilis reprehenderit quae consectetur delectus nisi iure! Consectetur
                        sint exercitationem recusandae asperiores vero, natus eaque voluptate laudantium repellat
                        delectus neque ratione nostrum magnam, laborum, nam veritatis labore magni vel pariatur aliquam
                        ut est deserunt explicabo itaque. Eos quae corporis quasi unde quis vitae sit nihil saepe
                        tenetur cum, accusantium perspiciatis officiis error architecto itaque, quas vero eum
                        doloremque. Esse ipsa mollitia odit similique natus laborum nemo, pariatur odio voluptatem
                        aspernatur consequatur dignissimos doloribus laudantium beatae rem architecto molestiae. Aut,
                        minima sed sapiente itaque provident possimus minus tenetur incidunt illum accusamus officiis
                        iusto tempore assumenda quod quo quasi blanditiis dicta soluta. Similique officia est quaerat
                        itaque eaque quae, harum molestiae hic nisi cum deleniti quasi sint ab accusamus rerum inventore
                        ut maiores modi repellendus tempore labore illo necessitatibus dolores repudiandae? Doloribus
                        temporibus dicta obcaecati aspernatur molestiae itaque dolore impedit explicabo nihil harum,
                        ipsum, incidunt quidem voluptate totam! Ipsa reiciendis quia, deleniti dolorem exercitationem
                        quibusdam officia ducimus molestias doloribus sapiente animi accusamus officiis vero adipisci
                        aliquid quam mollitia soluta cumque error nihil harum excepturi ut fugit magni. Consequatur
                        corrupti, earum veritatis facere nemo tenetur ad nobis eligendi vero nam unde quasi. Rem
                        obcaecati soluta voluptate dignissimos, nihil quasi magni neque recusandae, ex cumque, quo nemo.
                        Minima repellendus quod iusto tempore expedita officia fugit ad dignissimos sit modi, doloribus,
                        quisquam, asperiores animi! Provident doloremque dolores labore voluptatum facilis itaque
                        obcaecati explicabo ipsa odio ipsam quaerat ducimus, modi perspiciatis nulla magnam delectus
                        natus? Delectus rem architecto minus voluptates nemo quidem quia aliquam ex unde vero corporis
                        dignissimos consectetur explicabo adipisci, quod veritatis illo laboriosam non voluptatem ab
                        fuga et laudantium temporibus. Dolore perferendis id dignissimos? Possimus repellendus cumque
                        quam veritatis eos aliquam odio dignissimos illo, provident iste? Impedit nihil odit dolore
                        deserunt? Harum corporis doloribus, atque perspiciatis labore a autem mollitia. Dicta alias
                        quidem, quas possimus cumque eos culpa nostrum ea molestias nesciunt aut excepturi mollitia?
                        Possimus sequi nemo quasi officia, itaque animi corrupti iste dolores eius, unde vel. Laboriosam
                        possimus iure quasi, ad expedita repellat nihil iusto! Dicta, voluptates eligendi quibusdam
                        placeat dolor molestias facilis iste tempore impedit, necessitatibus magnam quisquam voluptatem
                        repellat, exercitationem quaerat quam illum obcaecati eveniet. Magnam esse sed laboriosam minima
                        consequatur, aliquam quidem ut maiores illo est. Magni magnam in velit incidunt reprehenderit
                        quae ratione iste facere dicta. Nemo enim fugit voluptatum totam beatae ex accusantium
                        recusandae sapiente doloremque, aliquid maxime incidunt, distinctio itaque nesciunt odit dolores
                        nostrum a iusto.
                    </p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-secondary">Secondary</span>
                    <span class="badge badge-success">Success</span>
                    <span class="badge badge-danger">Danger</span>
                    <span class="badge badge-warning">Warning</span>
                    <span class="badge badge-info">Info</span>
                    <span class="badge badge-light">Light</span>
                    <span class="badge badge-dark">Dark</span>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-6">
                    <a href="#" class="badge badge-primary">Primary</a>
                    <a href="#" class="badge badge-secondary">Secondary</a>
                    <a href="#" class="badge badge-success">Success</a>
                    <a href="#" class="badge badge-danger">Danger</a>
                    <a href="#" class="badge badge-warning">Warning</a>
                    <a href="#" class="badge badge-info">Info</a>
                    <a href="#" class="badge badge-light">Light</a>
                    <a href="#" class="badge badge-dark">Dark</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item
                            <ul>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                            </ul>
                        </li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list list_dashed">
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item
                            <ul>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                            </ul>
                        </li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list list_blue">
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item
                            <ul>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                            </ul>
                        </li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list list_white">
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item
                            <ul>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                                <li>List item</li>
                            </ul>
                        </li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6 mb-5">
                    <div class="alert alert-primary" role="alert">
                        This is a primary alert—check it out!
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        This is a secondary alert—check it out!
                    </div>
                    <div class="alert alert-success" role="alert">
                        This is a success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert">
                        This is a danger alert—check it out!
                    </div>
                    <div class="alert alert-warning" role="alert">
                        This is a warning alert—check it out!
                    </div>
                    <div class="alert alert-info" role="alert">
                        This is a info alert—check it out!
                    </div>
                    <div class="alert alert-light" role="alert">
                        This is a light alert—check it out!
                    </div>
                    <div class="alert alert-dark" role="alert">
                        This is a dark alert—check it out!
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="alert alert-primary" role="alert">
                        This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click
                        if you like.
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a
                        click if you like.
                    </div>
                    <div class="alert alert-success" role="alert">
                        This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click
                        if you like.
                    </div>
                    <div class="alert alert-danger" role="alert">
                        This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click
                        if you like.
                    </div>
                    <div class="alert alert-warning" role="alert">
                        This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click
                        if you like.
                    </div>
                    <div class="alert alert-info" role="alert">
                        This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
                        you like.
                    </div>
                    <div class="alert alert-light" role="alert">
                        This is a light alert with <a href="#" class="alert-link">an example link</a>. Give it a click
                        if you like.
                    </div>
                    <div class="alert alert-dark" role="alert">
                        This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if
                        you like.
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to
                            run a bit longer so that you can see how spacing within an alert works with this kind of
                            content.</p>
                        <hr>
                        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and
                            tidy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-light">Light</button>
                    <button type="button" class="btn btn-dark">Dark</button>
                    <button type="button" class="btn btn-link">Link</button>
                </div>
                <div class="col-lg-6 mb-5">
                    <a class="btn btn-primary" href="#" role="button">Link</a>
                    <button class="btn btn-primary" type="submit">Button</button>
                    <input class="btn btn-primary" type="button" value="Input">
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <input class="btn btn-primary" type="reset" value="Reset">
                </div>
                <div class="col-lg-6 mb-5">
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </div>
                <div class="col-lg-6 mb-5">
                    <button type="button" class="btn btn-primary btn-lg">Large button</button>
                    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-5">
                    <h1>Forms</h1>
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="pOrderLink">.form-control-lg <small>(Не обязательно)</small></label>
                                    <input type="text" class="form-control form-control-lg" id="pOrderLink"
                                        placeholder="Ссылка">
                                    <div class="messagesArea"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                    <div id="emailHelp" class="messagesArea">We'll never share your email with anyone else.</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-check form-group">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">
                                        Check me out
                                    </label>
                                    <div id="emailHelp" class="form-text messagesArea">Any description text</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-check form-group">
                                    <div>
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            Default radio
                                        </label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                        <label class="form-check-label" for="exampleRadios2">
                                            Second default radio
                                        </label>
                                    </div>
                                    <div>
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                                        <label class="form-check-label" for="exampleRadios3">
                                            Disabled radio
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
                                        placeholder="Password">
                                    <div id="emailHelp" class="form-text messagesArea"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Example select</label>
                                    <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <div id="emailHelp" class="form-text messagesArea"></div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <a href="#a" class="btn btn-lg btn-outline-secondary iconized">
                        <span class="icon">
                            <svg width="19" height="17" class="svg-icon__link">
                                <use xlink:href="#favourite"></use></svg>
                        </span>
                        <span class="iconized__text">Добавить в избранное</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {{> pagination}}

    {{> footer}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/dropzone.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>