<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> pageheader}}
    {{> postbanner}}
    <section class="main_block bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Категории</h1>
                    {{> cats_list}}
                </div>
            </div>
        </div>
    </section>
    <section class="main_block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Последнее добавленное</h1>
                    <div class="products_list products_list__tileList row">
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite Corel DRAW Graphics Suite Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> pagination}}

    {{> footer}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/dropzone.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>