<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> pageheader}}
    {{> postbanner}}

    <div class="breadcrumbs_wrap bg-grey_light">
        <div class="container">
            {{> breadcrumbs}}
            <h1>Личный кабинет</h1>
        </div>
    </div>
    <section class="main_block bg-grey bg-grey_light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="subTitle">Персональные данные</h2>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-12 col-md-6 col-xlg-3">
                        <div class="form-group">
                            <label for="pName">Имя</label>
                            <input type="text" class="form-control form-control-lg" id="pName"
                                placeholder="Введите имя">
                            <div class="messagesArea">
                                <div class="messagesArea__error">Обязательно для заполнения</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xlg-3">
                        <div class="form-group">
                            <label for="pEmail">E-mail</label>
                            <input type="email" class="form-control form-control-lg" id="pEmail"
                                placeholder="user-email-address@domain.com">
                            <div class="messagesArea">
                                <div class="messagesArea__notification"><a href="#">Отправить повторно письмо с
                                        подтверждением</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xlg-3">
                        <div class="form-group">
                            <label for="pPassword">Пароль</label>
                            <input type="password" class="form-control form-control-lg" id="pPassword"
                                placeholder="*********">
                            <div class="messagesArea"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xlg-3">
                        <div class="form-group">
                            <label for="pPassword_confirm">Подтвердите Пароль</label>
                            <input type="password" class="form-control form-control-lg" id="pPassword_confirm"
                                placeholder="*********">
                            <div class="messagesArea"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-xlg-3">
                        <button type="submit" class="btn btn-outline-secondary btn-lg">Сохранить Изменения</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="main_block bg-grey">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-12">
                    <h1>Стол заказов</h1>
                </div>
                <div class="col-12 mb-5 col-xlg-4">
                    <div class="orderForm">
                        <h2 class="subTitle">Новый запрос</h2>
                        <form action="/file">

                            <div class="row">
                                <div class="col-12 col-lg-6 col-xlg-12">
                                    <div class="form-group">
                                        <label for="pOrderTitle">Название программы <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg" id="pOrderTitle"
                                            placeholder="Название программы">
                                        <div class="messagesArea"></div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 col-xlg-12">
                                    <div class="form-group">
                                        <label for="pOrderLink">Ссылка на программу <small>(Не обязательно)</small></label>
                                        <input type="text" class="form-control form-control-lg" id="pOrderLink"
                                            placeholder="Ссылка">
                                        <div class="messagesArea"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pOrderFile">Прикрепить файл <small>(Не обязательно)</small></label>
                                <div id="formMainDropzone" class="dropzone">
                                    <div class="dz-default dz-message">
                                        <div class="dz-message__item">
                                            <svg class="svg-icon__link" width="44" height="54">
                                                <use xlink:href="#upload" /></svg>
                                        </div>
                                        <div class="dz-message__item">
                                            <span class="btn btn-lg btn-secondary">
                                                Выберите файл для загрузки
                                            </span>
                                        </div>
                                        <div class="dz-message__item">
                                            <small>
                                                Или перенесите в эту область
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="submit-all" class="btn btn-primary btn-lg">Отправить
                                    запрос</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 mb-5 col-xlg-8">
                    <div class="ordersList">
                        <h2 class="subTitle">Мои заказы</h2>
                        <div class="tableWrap">
                            <table class="table blank_table">
                                <thead>
                                    <tr>
                                        <th>Дата заказа</th>
                                        <th>Название</th>
                                        <th>Текущий статус</th>
                                        <th>Коментарии</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>19.04.2019</td>
                                        <td><strong>Corel DRAW Graphics Suite X8 2019 14.0</strong></td>
                                        <td><span class="badge badge-round badge-primary color-white">Добавлен</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>19.04.2019</td>
                                        <td><strong>Corel DRAW Graphics Suite X8 2019 14.0</strong></td>
                                        <td><span class="badge badge-round badge-primary color-white">Добавлен</span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>19.04.2019</td>
                                        <td><strong>Corel DRAW Graphics Suite X8 2019 14.0</strong></td>
                                        <td><span class="badge badge-round badge-danger color-white">Отклонён</span>
                                        </td>
                                        <td>Нарушение аторских прав</td>
                                    </tr>
                                    <tr>
                                        <td>19.04.2019</td>
                                        <td><strong>Corel DRAW Graphics Suite X8 2019 14.0</strong></td>
                                        <td><span class="badge badge-round badge-warning color-white">На
                                                рассмотрении</span></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="showAllButton">
                            <a href="#a" class="btn btn-lg btn-outline-secondary">Показать все</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main_block">
        <div class="container">
            <div class="buttonInRow d-flex flex-wrap align-items-center">
                <h1 class="buttonInRow__title">Похожие программы</h1>

                <div class="mr-3 ml-auto"><b>Сортировка:</b></div>
                <div class="dropdown">
                    <button class="btn btn-lg btn-outline-secondary btn-fake_select" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        data-caret="false">
                        <span class="btn-fake_select__text">По Дате Добавления</span>
                        <span class="btn-fake_select__caret">
                            <svg width="11" height="6" class="svg-icon__link">
                                <use xlink:href="#arrow_top" /></svg>
                        </span>
                    </button>
                    <div class="dropdown-menu dropdown-menu__fakeSelect w-100" aria-labelledby="dropdownMenuButton">
                        <ul class="nav">
                            <li class="w-100">
                                <a class="dropdown-item" href="#a">
                                    По Дате Загрузки
                                </a>
                            </li>
                            <li class="w-100">
                                <a class="dropdown-item" href="#a">
                                    По Имени Файла
                                </a>
                            </li>
                            <li class="w-100">
                                <a class="dropdown-item" href="#a">
                                    По Размеру Файла
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="products_list products_list__tileList row">
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite Corel DRAW Graphics Suite Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
            </div>
        </div>
    </section>



    {{> footer}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/dropzone.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>