<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> pageheader}}
    {{> postbanner}}
    <div class="breadcrumbs_wrap bg-grey">
        <div class="container">
            {{> breadcrumbs}}
            <h1>Категории</h1>
            <div class="subCatsList row">
                <div class="col-6 col-sm-3 col-lg-2 col-xlg-1">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#a">1st person</a>
                        </li>
                        <li>
                            <a href="#a">Action</a>
                        </li>
                        <li>
                            <a href="#a">Arcade</a>
                        </li>
                        <li>
                            <a href="#a">Horror</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 col-xlg-1">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#a">Logic</a>
                        </li>
                        <li>
                            <a href="#a" class="active">Management</a>
                        </li>
                        <li>
                            <a href="#a">Online-игры</a>
                        </li>
                        <li>
                            <a href="#a">Racing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 col-xlg-1">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#a">RTS</a>
                        </li>
                        <li>
                            <a href="#a">Симуляторы</a>
                        </li>
                        <li>
                            <a href="#a">Stealth</a>
                        </li>
                        <li>
                            <a href="#a">TBS</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 col-xlg-1">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#a">3d person</a>
                        </li>
                        <li>
                            <a href="#a">Приключения</a>
                        </li>
                        <li>
                            <a href="#a">Fighting</a>
                        </li>
                        <li>
                            <a href="#a">Indie-игры</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 col-xlg-1">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#a">MMORPG</a>
                        </li>
                        <li>
                            <a href="#a">Quest</a>
                        </li>
                        <li>
                            <a href="#a">RPG</a>
                        </li>
                        <li>
                            <a href="#a">Shooter</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-3 col-lg-2 col-xlg-1">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#a">Спорт</a>
                        </li>
                        <li>
                            <a href="#a">Стратегии</a>
                        </li>
                        <li>
                            <a href="#a">Tower Defense</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="main_block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Редакторы графики</h1>
                    <div class="products_list products_list__tileList row">
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite Corel DRAW Graphics Suite Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                            {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> pagination}}

    {{> footer}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/dropzone.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>