<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>
    {{> sprite}}
    {{> popupnav}}
    {{> pageheader}}
    {{> postbanner}}

    <div class="breadcrumbs_wrap">
        <div class="container">
            {{> breadcrumbs}}
            <h1>Microsoft Visual Studio 2013 Ultimate Edition (x32/x64) </h1>
        </div>
    </div>
    <section class="main_block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xlg-2 mb-4">
                    <div class="productInner__visualInfo">
                        <div class="productInner__visualInfo_image">
                            <img src="https://dummyimage.com/380x281.jpg" alt="Visual">
                        </div>
                        <div class="productInner__visualInfo_rating">
                            <div class="card-rates_counts text-center">
                                <div class="rate_block_title">
                                    <strong>Рейтинг пользователей</strong>
                                </div>
                                <div class="rate_block">
                                    <div class="reviewsSum__reviews_stars" aria-label="Рейтинг 4 из 5">
                                        <span style="width: 90%;"></span>
                                    </div>
                                </div>
                                <div class="rates_count">
                                    Проголосовали 782
                                </div>
                            </div>
                        </div>
                        <div class="productInner__visualInfo_actions">
                            <a href="#a" class="btn btn-lg btn-outline-secondary iconized w-100 justify-content-center">
                                <span class="icon">
                                    <svg width="19" height="17" class="svg-icon__link">
                                        <use xlink:href="#favourite" /></svg>
                                </span>
                                <span class="iconized__text">Добавить в избранное</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-7 col_move fz-14 mb-5">

                    <div class="productInfo productInfo_flexed">
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Название:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    Microsoft Visual Studio 2013 Ultimate Edition
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Категория:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    <a href="#a">Инструменты для разработчиков</a>
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Имя файла:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    <b>VSCodeUserSetup-ia32-1.33.0.exe</b>
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Размер файла:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    1.48MB (1,549,232 bytes)
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Текущая Версия:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    12.0 Build 21005.1 REL
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Операционная система:
                            </div>
                            <div class="productInfo__item_level-2_wrap">
                                <div class="d-flex flex-wrap productInfo__item_level-2">
                                    <div class="productInfo__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#windows" /></svg>
                                    </div>
                                    <div class="productInfo__text">
                                        <strong>
                                            Windows
                                        </strong><br>
                                        <small>Windows 7</small><br>
                                        <small>Windows 8/8.1</small><br>
                                        <small>Windows 10</small>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap productInfo__item_level-2">
                                    <div class="productInfo__icon">
                                        <svg width="16" height="19" class="svg-icon__link">
                                            <use xlink:href="#apple" /></svg>
                                    </div>
                                    <div class="productInfo__text">
                                        <strong>
                                            MacOs
                                        </strong>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap productInfo__item_level-2">
                                    <div class="productInfo__icon">
                                        <svg width="17" height="19" class="svg-icon__link">
                                            <use xlink:href="#linux" /></svg>
                                    </div>
                                    <div class="productInfo__text">
                                        <strong>
                                            Linux
                                        </strong>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap productInfo__item_level-2">
                                    <div class="productInfo__icon">
                                        <svg width="17" height="19" class="svg-icon__link">
                                            <use xlink:href="#android" /></svg>
                                    </div>
                                    <div class="productInfo__text">
                                        <strong>
                                            Android
                                        </strong><br>
                                        <small>Androind 7.0 и выше</small><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Язык Интерфейса: 
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    Мультиязычный
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Тип лицензии: 
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    Freeware
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Дата Релиза: 
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    10 Апреля, 2018
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Дата добавления:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    17 Апреля, 2018
                                </strong>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                Разработчик:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    Microsoft
                                </strong><br>
                                <small><a href="//microsoft.com" target="_blank" rel="nofollow" >www.microsoft.com</a></small>
                            </div>
                        </div>
                        <div class="productInfo__item">
                            <div class="productInfo__label">
                                MD5:
                            </div>
                            <div class="productInfo__text">
                                <strong>
                                    BC28B1B82B0936E01D9AEAAA8082B1FE
                                </strong>
                            </div>
                        </div>
                    </div>


                    <div class="mt-5">
                        <div class="buttonInRow d-flex flex-wrap align-items-center">
                            <h1 class="buttonInRow__title">Скачать</h1>
                            <div class="buttonInRow__button">
                                <div class="buttonInRow__text">Операционная система:</div>
                                <div class="dropdown" style="max-width: 220px">
                                    <button class="btn btn-lg btn-outline-secondary btn-fake_select" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-caret="false">
                                        <span class="btn-fake_select__icon">
                                            <svg width="17" height="19" class="svg-icon__link">
                                                <use xlink:href="#windows" /></svg>
                                        </span>
                                        <span class="btn-fake_select__text">Windows</span>
                                        <span class="btn-fake_select__caret">
                                            <svg width="11" height="6" class="svg-icon__link">
                                                <use xlink:href="#arrow_top" /></svg>
                                        </span>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu__fakeSelect w-100" aria-labelledby="dropdownMenuButton">
                                        <ul class="nav">
                                            <li class="w-100">
                                                <a class="dropdown-item iconized" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                                    <span class="icon">
                                                        <svg width="17" height="19" class="svg-icon__link">
                                                            <use xlink:href="#windows" /></svg>
                                                    </span>
                                                    <span class="icon_text">Windows</span>
                                                </a>
                                            </li>
                                            <li class="w-100">
                                                <a class="dropdown-item iconized" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                                    <span class="icon">
                                                        <svg width="17" height="19" class="svg-icon__link">
                                                            <use xlink:href="#apple" /></svg>
                                                    </span>
                                                    <span class="icon_text">
                                                        Mac Os
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="w-100">
                                                <a class="dropdown-item iconized" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                                    <span class="icon">
                                                        <svg width="17" height="19" class="svg-icon__link">
                                                            <use xlink:href="#linux" /></svg>
                                                    </span>
                                                    <span class="icon_text">
                                                        Linux
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <a href="#a" class="downloadButton">
                                    <div class="downloadButton__item downloadButton__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#windows" /></svg>
                                    </div>
                                    <div class="downloadButton__item">
                                        <b>VSCodeUserSetup-ia32-1.33.0.exe</b>
                                        <div class="downloadButton__subscript">Размер файла: 550.67Mb <span class="downloadButton__separator">|</span>Операционная система: Windows 7 / 8 / 8.1 x32</div>
                                    </div>
                                    <div class="downloadButton__item downloadButton__decorIcon">
                                        <svg width="19" height="20" class="svg-icon__link">
                                            <use xlink:href="#download" /></svg>
                                    </div>
                                </a>
                                <a href="#a" class="downloadButton">
                                    <div class="downloadButton__item downloadButton__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#windows" /></svg>
                                    </div>
                                    <div class="downloadButton__item">
                                        <b>VSCodeUserSetup-ia64-1.33.0.exe</b>
                                        <div class="downloadButton__subscript">Размер файла: 550.67Mb <span class="downloadButton__separator">|</span>Операционная система: Windows 7 / 8 / 8.1 x64</div>
                                    </div>
                                    <div class="downloadButton__item downloadButton__decorIcon">
                                        <svg width="19" height="20" class="svg-icon__link">
                                            <use xlink:href="#download" /></svg>
                                    </div>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <a href="#a" class="downloadButton">
                                    <div class="downloadButton__item downloadButton__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#apple" /></svg>
                                    </div>
                                    <div class="downloadButton__item">
                                        <b>VSCodeUserSetup-ia32-1.33.0.exe</b>
                                        <div class="downloadButton__subscript">Размер файла: 550.67Mb <span class="downloadButton__separator">|</span>Операционная система: Windows 7 / 8 / 8.1 x32</div>
                                    </div>
                                    <div class="downloadButton__item downloadButton__decorIcon">
                                        <svg width="19" height="20" class="svg-icon__link">
                                            <use xlink:href="#download" /></svg>
                                    </div>
                                </a>
                                <a href="#a" class="downloadButton">
                                    <div class="downloadButton__item downloadButton__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#apple" /></svg>
                                    </div>
                                    <div class="downloadButton__item">
                                        <b>VSCodeUserSetup-ia64-1.33.0.exe</b>
                                        <div class="downloadButton__subscript">Размер файла: 550.67Mb <span class="downloadButton__separator">|</span>Операционная система: Windows 7 / 8 / 8.1 x64</div>
                                    </div>
                                    <div class="downloadButton__item downloadButton__decorIcon">
                                        <svg width="19" height="20" class="svg-icon__link">
                                            <use xlink:href="#download" /></svg>
                                    </div>
                                </a>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <a href="#a" class="downloadButton">
                                    <div class="downloadButton__item downloadButton__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#linux" /></svg>
                                    </div>
                                    <div class="downloadButton__item">
                                        <b>VSCodeUserSetup-ia32-1.33.0.exe</b>
                                        <div class="downloadButton__subscript">Размер файла: 550.67Mb <span class="downloadButton__separator">|</span>Операционная система: Windows 7 / 8 / 8.1 x32</div>
                                    </div>
                                    <div class="downloadButton__item downloadButton__decorIcon">
                                        <svg width="19" height="20" class="svg-icon__link">
                                            <use xlink:href="#download" /></svg>
                                    </div>
                                </a>
                                <a href="#a" class="downloadButton">
                                    <div class="downloadButton__item downloadButton__icon">
                                        <svg width="20" height="19" class="svg-icon__link">
                                            <use xlink:href="#linux" /></svg>
                                    </div>
                                    <div class="downloadButton__item">
                                        <b>VSCodeUserSetup-ia64-1.33.0.exe</b>
                                        <div class="downloadButton__subscript">Размер файла: 550.67Mb <span class="downloadButton__separator">|</span>Операционная система: Windows 7 / 8 / 8.1 x64</div>
                                    </div>
                                    <div class="downloadButton__item downloadButton__decorIcon">
                                        <svg width="19" height="20" class="svg-icon__link">
                                            <use xlink:href="#download" /></svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="productinfo__disclaimer mt-4">
                        <strong>Уважаемые пользователи!</strong> Администрация портала не несет ответственности за скачиваемые файлы и информацию, указанную разработчиком в описании программного обеспечения. Рекомендуется всегда проверять загружаемые с портала файлы на наличие вирусов и вредоносного ПО. 
                    </div>
                </div>
                <div class="col-lg-12 col-lg_move col-xlg-3">
                    <div class="bg-grey versions_list">
                        <h2>Предыдущие версии</h2>
                        <ul class="list-unstyled">
                            <li><a href="#a">Visual Studio Code 1.32.3 Source Code Editor</a></li>
                            <li><a href="#a">Visual Studio Code 1.30.2 Source Code Editor</a></li>
                            <li><a href="#a">Visual Studio Code 1.30</a></li>
                            <li><a href="#a">Visual Studio Code 1.29.1</a></li>
                            <li><a href="#a">Visual Studio Code 1.29.0</a></li>
                            <li><a href="#a">Visual Studio Code 1.32.3 Source Code Editor</a></li>
                            <li><a href="#a">Visual Studio Code 1.30.2 Source Code Editor</a></li>
                            <li><a href="#a">Visual Studio Code 1.30</a></li>
                            <li><a href="#a">Visual Studio Code 1.29.1</a></li>
                            <li><a href="#a">Visual Studio Code 1.29.0</a></li>
                        </ul>
                        <a href="#a" class="btn btn-lg btn-outline-secondary">Показать все</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main_block bg-grey bg-grey_light">
        <div class="container">
            <div class="row">
                <div class="d-none d-xlg-block col-2"></div>
                <div class="col-lg-12 col_move col-xlg-7">
                    <div class="product__description">
                        <h2>Описание</h2>
                        <p>
                            Visual Studio Ultimate 2013 — это передовое решение для разработки, позволяющее командам любого размера проектировать и создавать привлекательные приложения, которые удовлетворят самым взыскательным требованиям заказчиков. Вы можете использовать инструменты гибкого планирования — такие как планирование объема работ, панели задач и управление невыполненной работой — для внедрения методов последовательной разработки и применения гибких методологий в удобном для вас темпе. Используйте расширенные средства моделирования, обнаружения и проектирования архитектуры, чтобы описать свою систему и обеспечить полную реализацию вашей концепции архитектуры. Добейтесь взаимодействия между командами разработчиков и операторов с помощью таких программных средств, как IntelliTrace, Operations Manager Connector и Preemptive Analytics. Повышайте качество и сокращайте время устранения неполадок путем создания ошибок из развернутого программного обеспечения, включающих конкретный перечень действий, и обеспечивайте взаимодействие с операторами для получения данных, которые позволят разработчикам более детально анализировать производственные проблемы. Одним словом, вы можете создавать высококачественные инновационные решения, снижая при этом расходы на разработку.
                        </p>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                            <p>
                                Visual Studio Ultimate 2013 — это передовое решение для разработки, позволяющее командам любого размера проектировать и создавать привлекательные приложения, которые удовлетворят самым взыскательным требованиям заказчиков. Вы можете использовать инструменты гибкого планирования — такие как планирование объема работ, панели задач и управление невыполненной работой — для внедрения методов последовательной разработки и применения гибких методологий в удобном для вас темпе. Используйте расширенные средства моделирования, обнаружения и проектирования архитектуры, чтобы описать свою систему и обеспечить полную реализацию вашей концепции архитектуры. Добейтесь взаимодействия между командами разработчиков и операторов с помощью таких программных средств, как IntelliTrace, Operations Manager Connector и Preemptive Analytics. Повышайте качество и сокращайте время устранения неполадок путем создания ошибок из развернутого программного обеспечения, включающих конкретный перечень действий, и обеспечивайте взаимодействие с операторами для получения данных, которые позволят разработчикам более детально анализировать производственные проблемы. Одним словом, вы можете создавать высококачественные инновационные решения, снижая при этом расходы на разработку.
                            </p>
                            <h4>Ключевые особенности приложения:</h4>
                            <ul class="disc_blue">
                                <li>Высокая скорость работы</li>
                                <li>Огромное количество поддерживаемых языков программирования "из коробки" (например JavaScript, TypeScript, CSS, HTML и пр.). </li>
                                <li>В случае если требуется добавить в редактор поддержку какого-либо языка, можно установить необходимое дополнение из встроенного репозитория VS Code Marketplace.</li>
                                <li>Подсветка синтаксиса, автозавершение кода с использованием технологии IntelliSense и пр.</li>
                                <li>Встроенный отладчик кода.</li>
                                <li>Поддержка Git и прочих систем управления версиями, позволяющая делать коммиты прям из редактора.</li>
                                <li>Наличие встроенного терминала.</li>
                                <li>Огромное количество всевозможных плагинов.</li>
                            </ul>
                            <div class="alert alert-primary mb-5" role="alert">
                                <strong>Внимание!!!</strong><br>
                                С версии 1.35 Microsoft выпускает данное програмное обеспечение только для 64 битных систем.
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button class="btn btn-link text-center btn-toggle"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="visible_hidden my-2">Показать Описание</span>
                                <span class="my-2"><svg width="19" height="10" class="svg-icon__link">
                                    <use xlink:href="#arrow_top" /></svg>
                                </span>
                                <span class="visible_shown my-2">Свернуть Описание</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main_block">
        <div class="container">
            <div class="buttonInRow d-flex flex-wrap align-items-center">
                <h1 class="buttonInRow__title">Похожие программы</h1>
                <div class="buttonInRow__button">
                    <a href="#a" class="btn btn-lg btn-outline-secondary">Показать все</a>
                </div>
            </div>
            <div class="products_list products_list__tileList row">
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite Corel DRAW Graphics Suite Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
                <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
                    {{> product text="Corel DRAW Graphics Suite X8 2019 14.0"}}
                </div>
            </div>
        </div>
    </section>



    {{> footer}}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/dropzone.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>